In [46]:
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Error loading punkt: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1007)>

False

In [ ]:
for text in llm("AI is going to", stream=True):
    print(text, end="", flush=True)

# results on the cpu using ctransformers
### - 27.4 seconds
### output:
<p>
have an enormous impact on the future of the industry.
This year, AI was all over the show floor and there are a number of companies that are using AI in their products. Here's a quick look at some of them:
Fulcrum is an automated, artificial intelligence-powered software solution that helps manufacturers improve productivity and efficiency by automating processes, removing errors, and freeing up employees to focus on more complex tasks.
Kapil Khera, co-founder and CEO of Fulcrum, told Inman: "I don't know a single company that doesn't have AI in their product. I think it's the most important thing to come out of 2018."
The company is currently working on machine learning tools and workflow applications with machine intelligence technology so you can really begin building these powerful AI-powered solutions. The full AI-focused ecosystem, with automation in product design and sophisticated analytics, will be available to all customers by the end of 2018.
Kapil Khera, co-founder and CEO of Fulcrum
Surely
</p>

In [ ]:
from transformers import AutoModelForCausalLM, AutoTokenizer, pipeline

model_name_or_path = "TheBloke/TinyLlama-1.1B-Chat-v1.0-GPTQ"
# To use a different branch, change revision
# For example: revision="gptq-4bit-32g-actorder_True"
model = AutoModelForCausalLM.from_pretrained(model_name_or_path,
                                             device_map="auto",
                                             trust_remote_code=False,
                                             revision="main")

tokenizer = AutoTokenizer.from_pretrained(model_name_or_path, use_fast=True)

In [ ]:

def get_response_tiny_llama(text):
    path='/teamspace/studios/this_studio/TinyLlama-1.1B-Chat-v1.0-GPTQ'
    model = AutoModelForCausalLM.from_pretrained(model_name_or_path,
                                             device_map="auto",
                                             trust_remote_code=False,
                                             revision="main")

    tokenizer = AutoTokenizer.from_pretrained(model_name_or_path, use_fast=True)
    prompt = text
    system_message = "You are a story writing assistant"
    prompt_template=f'''<|system|>
    {system_message}</s>
    <|user|>
    {prompt}</s>
    <|assistant|>
    '''

    print("\n\n*** Generate:")

    input_ids = tokenizer(prompt_template, return_tensors='pt').input_ids.cuda()
    output = model.generate(inputs=input_ids, temperature=0.7, do_sample=True, top_p=0.95, top_k=40, max_new_tokens=512)
    return(tokenizer.decode(output[0]))

In [ ]:
print(get_response_tiny_llama("what is qlora?"))

# result on gpu 2.8 seconds

# handling the embedding model

In [ ]:
from sentence_transformers import SentenceTransformer
sentences = ["This is an example sentence", "Each sentence is converted"]

model = SentenceTransformer('sentence-transformers/all-MiniLM-L12-v2')
embeddings = model.encode(sentences)
print(embeddings)

In [ ]:
def convert_from_pdf_to_text(file_path):
    import PyPDF2

    read_pdf = PyPDF2.PdfReader(file_path)
    pages = read_pdf.pages
    res=''
    for page in pages:
        res+=page.extract_text()
    return res
pages=convert_from_pdf_to_text('/Users/matansharon/python/opensource_rag/pdf_files/A semantic loss for ontology classification.pdf')

import os
pdf_list=os.listdir("/Users/matansharon/python/opensource_rag/pdf_files")
text_list=os.listdir("/Users/matansharon/python/opensource_rag/text_files")

for pdf in pdf_list:
    temp=pdf.replace(".pdf",".txt")
    if temp not in text_list:
        text=convert_from_pdf_to_text("pdf_files/"+pdf)
        with open("text_files/"+temp, 'w') as f:
            f.write(text)

In [ ]:
def convert_from_pdf_to_text(file_path):
    import PyPDF2

    read_pdf = PyPDF2.PdfReader(file_path)
    pages = read_pdf.pages
    res=''
    for page in pages:
        res+=page.extract_text()
    return res
pages=convert_from_pdf_to_text('/Users/matansharon/python/opensource_rag/pdf_files/A semantic loss for ontology classification.pdf')

In [ ]:
import chromadb
client=chromadb.Client()
import os
import chromadb.utils.embedding_functions as embedding_functions
huggingface_ef = embedding_functions.HuggingFaceEmbeddingFunction(
    api_key=os.environ.get("HuggingFace_API_KEY"),
    model_name="sentence-transformers/all-MiniLM-L6-v2"
)

collection=client.get_or_create_collection('test',embedding_function=huggingface_ef)

In [7]:
import chromadb
persist_directory = "chroma_storage"
client = chromadb.PersistentClient(path=persist_directory)
collection=client.get_collection("file1_collection")
print(collection.get().keys())

dict_keys(['ids', 'embeddings', 'metadatas', 'documents', 'uris', 'data'])

In [44]:
results

{'ids': [['45', '46', '3', '25', '22']],
 'distances': [[0.62945196401265,
   1.2014087659918908,
   1.4490561050844064,
   1.457502030657284,
   1.4734288925551329]],
 'metadatas': [[{'filename': 'Component Separation method for CMB using Convolutional Neural Networks.pdf',
    'page_number': 0},
   {'filename': 'Component Separation method for CMB using Convolutional Neural Networks.pdf',
    'page_number': 1},
   {'filename': 'qlora.pdf', 'page_number': 3},
   {'filename': 'qlora.pdf', 'page_number': 25},
   {'filename': 'qlora.pdf', 'page_number': 22}]],
 'embeddings': None,
 'documents': [['Component Separation method for CMB using Convolutional Neural Networks\nA. Quintana1,2,3, B. Ruiz-Granados4, P. Ruiz-Lapuente1,2\n1Instituto de F´ ısica Fundamental (IFF-CSIC), Madrid, Spain,\n2Institut de Ci` encies del Cosmos (UB-IEEC), Barcelona, Spain\n3Universidad Internacional de Valencia, Valencia, Spain\n4Universidad de C´ ordoba, C´ ordoba, Spain\nThe aim of this project is to recover the CMB anisotropies maps in temperature and polar-\nized intensity by means of a deep convolutional neural network (CNN) which, after appropiate\ntraining, can remove the foregrounds from Planck and QUIJOTE data. The results are then\ncompared with those obtained by COMMANDER , based on Bayesian parametric component sep-\naration. The CNN successfully recovered the CMB signal for both All Sky and Partial Sky\nmaps showing frequency dependant results, being optimum for central frequencies where there\nis less contamination by foregrounds emissions such as galactic synchrotron and thermal dust\nemissions. Recovered maps in temperature are consistent with those obtained by Planck Col-\nlaboration, while polarized intensity has been recovered as a new observable. The polarized\nintensity maps recovered from QUIJOTE experiment are novel and of potential interest to the\nscientific community for the detection of primordial gravitational waves. The way forward will\nbe to recover the maps at higher NSIDE and make them available to the scientific community.\n1 Introduction\nPrevious works1have successfully demonstrated the use of Deep Learning techniques, such as\nConvolutional Neural Networks (CNN), for the extraction of CMB temperature maps, in partic-\nular with U-Net architecture2. In this work a U-Net CNN is trained from simulated observational\nmaps, with the aim of recovering the CMB signal in temperature and polarized intensity from\nPlanckaand QUIJOTEbobservational maps. In order to validate the methodology, the recov-\nered CMB maps are compared with those obtained by Planck Collaboration with COMMANDER as\na different Component Separation Method.\n2 Methodology and Results\nA CNN with U-Net architecture is developed and trained in order to be able to recover the CMB\nsignal. To train the CNN, 803 mock maps are simulated at NSIDE 64 at different frequency\nbands, both in temperature and polarized intensity for Planck and QUIJOTE maps, meaning\nthat the CNN has to be trained four times. A different dataset of 209 mock maps are also\ngenerated in order to validate the CNN, and finally 11 mock maps are generated for testing the\nCNN. For each frequency, a different realization of the clean CMB signal generated with PySM is\nprovided to the CNN. Once the CNN has been proved to be properly trained with the validation\nand test dataset, it is directly applied to resolve the Planck and QUIJOTE maps.\nahttps://www.cosmos.esa.int/web/planck\nbhttps://www.iac.es/es/proyectos/experimento-quijote-cmbarXiv:2405.04564v1  [astro-ph.CO]  7 May 2024',
   'Figure 1 – Left: Recovered CMB maps in temperature at frequencies 30, 44, 70, 100, 143, 217 and 353 GHz from\nPlanck. Right: Recovered CMB maps in polarized intensity at frequencies 11, 13, 17 and 19 GHz from QUIJOTE.\nFigure 2 – Comparison between CMB signal in temperature recovered from Planck (left) and in polarized intensity\nfrom QUIJOTE (right). CMB recovered by the CNN (up), by COMMANDER (middle) and residuals (down) are shown.\nIn Figure 1, it is observed that below 44 GHz and above 217 GHZ the CNN struggles\nto recover the CMB signal in temperature since synchrotron and thermal dust foregrounds\nemissions, respectively, are dominant. In Figure 2, on the left side it is seen that recovered\nmap in temperature is consistent with the CMB obtained by Planck. On the right side, while\ndeviations from results in polarized intensity with respect to Planck are apparent by eye, it can\nbe proved that the map recovered by the CNN is significantly more Gaussian than Planck, which\ncould be a hint of a better CMB signal; deep statistical analysis is yet to be performed though.\n3 Conclusions\nCMB anisotropies maps have been successfully recovered by a CNN for both All Sky and Partial\nSky maps. Recovered maps are frequency dependant, with optimum results for central frequen-\ncies. It is the first time that polarized intensity defined as a scalar IP=p\nQ2+U2is recovered\nas an observable. While all simulations have been run at NSIDE 64, the next step will be to\nrepeat the procedure at NSIDE 512.\nReferences\n1. G.J. Wang, H.L. Shi, Y.P. Yan, J.Q. Xia, Y.Y. Zhao, S.Y. Li, and J.F. Li, Astrophysical\nJournal Supplement Series 260(1) , 13 (2022)\n2. O.Ronneberger, P. Fischer, and T.Brox, arxiv: 1505.04597\n3. Planck Collaboration. Astronomy and Astrophysics 641, A1 (2020)\n4. Rubi˜ no-Mart´ ın et al. Monthly Notices of the Royal Astronomical Society 519(3) , 3383\n(2023)',
   'Parameter Efficient Finetuning (PEFT) method, most of the memory footprint for LLM finetuning\ncomes from activation gradients and not from the learned LoRA parameters. For a 7B LLaMA\nmodel trained on FLAN v2 with a batch size of 1, with LoRA weights equivalent to commonly used\n0.2% of the original model weights[ 28,37], the LoRA input gradients have a memory footprint\nof 567 MB while the LoRA parameters take up only 26 MB. With gradient checkpointing [ 9], the\ninput gradients reduce to an average of 18 MB per sequence making them more memory intensive\nthan all LoRA weights combined. In comparison, the 4-bit base model consumes 5,048 MB of\nmemory. This highlights that gradient checkpointing is important but also that aggressively reducing\nthe amount of LoRA parameter yields only minor memory benefits. This means we can use more\nadapters without significantly increasing the overall training memory footprint (see Appendix G\nfor a detailed breakdown). As discussed later, this is crucial for recovering full 16-bit precision\nperformance.\n3 QL ORA Finetuning\nQLORAachieves high-fidelity 4-bit finetuning via two techniques we propose—4-bit NormalFloat\n(NF4) quantization and Double Quantization. Additionally, we introduce Paged Optimizers, to\nprevent memory spikes during gradient checkpointing from causing out-of-memory errors that have\ntraditionally made finetuning on a single machine difficult for large models.\nQLORAhas one low-precision storage data type, in our case usually 4-bit, and one computation data\ntype that is usually BFloat16. In practice, this means whenever a QLORAweight tensor is used, we\ndequantize the tensor to BFloat16, and then perform a matrix multiplication in 16-bit.\nWe now discuss the components of QL ORA followed by a formal definition of QL ORA.\n4-bit NormalFloat Quantization The NormalFloat (NF) data type builds on Quantile Quantization\n[15] which is an information-theoretically optimal data type that ensures each quantization bin has an\nequal number of values assigned from the input tensor. Quantile quantization works by estimating\nthe quantile of the input tensor through the empirical cumulative distribution function.\nThe main limitation of quantile quantization is that the process of quantile estimation is expensive.\nTherefore fast quantile approximation algorithms, such as SRAM quantiles [ 15], are used to estimate\nthem. Due to the approximate nature of these quantile estimation algorithms, the data type has large\nquantization errors for outliers, which are often the most important values.\nExpensive quantile estimates and approximation errors can be avoided when input tensors come from\na distribution fixed up to a quantization constant. In such cases, input tensors have the same quantiles\nmaking exact quantile estimation computationally feasible.\nSince pretrained neural network weights usually have a zero-centered normal distribution with\nstandard deviation σ(see Appendix F), we can transform all weights to a single fixed distribution by\nscaling σsuch that the distribution fits exactly into the range of our data type. For our data type, we\nset the arbitrary range [−1,1]. As such, both the quantiles for the data type and the neural network\nweights need to be normalized into this range.\nThe information theoretically optimal data type for zero-mean normal distributions with arbitrary\nstandard deviations σin the range [−1,1]is computed as follows: (1) estimate the 2k+ 1quantiles\nof a theoretical N(0,1)distribution to obtain a k-bit quantile quantization data type for normal distri-\nbutions, (2) take this data type and normalize its values into the [−1,1]range, (3) quantize an input\nweight tensor by normalizing it into the [−1,1]range through absolute maximum rescaling.\nOnce the weight range and data type range match, we can quantize as usual. Step (3) is equivalent to\nrescaling the standard deviation of the weight tensor to match the standard deviation of the k-bit data\ntype. More formally, we estimate the 2kvalues qiof the data type as follows:\nqi=1\n2\x12\nQX\x12i\n2k+ 1\x13\n+QX\x12i+ 1\n2k+ 1\x13\x13\n, (4)\nwhere QX(·)is the quantile function of the standard normal distribution N(0,1). A problem for\na symmetric k-bit quantization is that this approach does not have an exact representation of zero,\nwhich is an important property to quantize padding and other zero-valued elements with no error. To\n4',
   'LLaMA model size0%25%50%75%100%\n7B (6.9 GB) 13B (11.3 GB) 33B (24.7 GB) 65B (45.0 GB)Input gradient Optimizer Weight gradient Adapters ModelFigure 6: Breakdown of the memory footprint of different LLaMA models. The input gradient size is for batch\nsize 1 and sequence length 512 and is estimated only for adapters and the base model weights (no attention).\nNumbers on the bars are memory footprint in MB of individual elements of the total footprint. While some\nmodels do not quite fit on certain GPUs, paged optimzier provide enough memory to make these models fit.\nG Memory Footprint\nThe memory footpring for QLoRA training with different LLaMA base models can be seen in\nFigure 6. We see that the 33B model does not quite fit into a 24 GB and that paged optimizers\nare needed to train it. Depicted is also batch size 1 with a sequence length of 512 and gradient\ncheckpointning. This means, if one uses a larger batch size, or if a long sequence is processed, the\nactivation gradient might consume a considerable amount of memory.\nTable 13: The complete ordering induced by pairwise GPT-4 judgments between systems\nModel Params Size\nGuanaco 65B 41 GB\nGuanaco 33B 21 GB\nVicuna 13B 26 GB\nChatGPT-3.5 Turbo N/A N/A\nBard N/A N/A\nGuanaco 13B 10 GB\nGuanaco 7B 5 GB\n26',
   'Parameters Dataset Batch size LR Steps Source Length Target Length\n7B All 16 2e-4 10000 384 128\n7B OASST1 16 2e-4 1875 - 512\n7B HH-RLHF 16 2e-4 10000 - 768\n7B Longform 16 2e-4 4000 512 1024\n13B All 16 2e-4 10000 384 128\n13B OASST1 16 2e-4 1875 - 512\n13B HH-RLHF 16 2e-4 10000 - 768\n13B Longform 16 2e-4 4000 512 1024\n33B All 32 1e-4 5000 384 128\n33B OASST1 16 1e-4 1875 - 512\n33B HH-RLHF 32 1e-4 5000 - 768\n33B Longform 32 1e-4 2343 512 1024\n65B All 64 1e-4 2500 384 128\n65B OASST1 16 1e-4 1875 - 512\n65B HH-RLHF 64 1e-4 2500 - 768\n65B Longform 32 1e-4 2343 512 1024\nTable 9: Training hyperparameters for QL ORA finetuning on different datasets and across model sizes.\nSelf-Instruct, Alpaca, Unnatural Instructions The Self-Instruct, Alpaca, and Unnatural Instruc-\ntions datasets [ 59,55,26] are instruction tuning datasets collected with various approaches of model\ndistillation from GPT-3 Instruct and ChatGPT. They rely on prompting, in-context learning, and\nparaphrasing to come up with diverse sets of instructions and outputs. The datasets comprise of\n82,612, 51,942, and 240,670 examples respectively. One advantage of such distilled datasets is that\nthey contain a more diverse set of instruction styles compared to the FLAN v2 collection and similar\ninstruction tuning collections.\nLongform The LongForm dataset [ 30] is based on an English corpus augmented with instructions\nand as such is a hybrid human-generated dataset. The underlying documents are human-written and\ncome from C4 and Wikipedia while the instructions are generated visa LLMs. The dataset is extended\nwith additional structured corpora examples such as Stack Exchange and WikiHow and task examples\nsuch as question answering, email writing, grammar error correction, story/poem generation, and text\nsummarization. The dataset contains 23,700 examples.\nChip2 is part of the OIG Laion dataset. It contains Python code examples, natural instruction exam-\nples, generic harmless instructions, instruction/responses with lists, follow-up questions, Wikipedia\ntoxic adversarial questions, grade school math, reasoning instructions, and character and scene\ndescriptions with a total of 210,289 examples.\nB.2 Hyperparameters\nWe provide the exact hyperparameters used in our QLORAfinetuning experiments. We find hyper-\nparameters to be largely robust across datasets. We use the MMLU 5-shot dev set for validation\nand hyperparameter tuning. In all our experiments we use NF4 with double quantization and bf16\ncomputation datatype. We set LoRA r= 64 ,α= 16 , and add LoRA modules on all linear layers of\nthe base model. We also use Adam beta2 of 0.999, max grad norm of 0.3 and LoRA dropout of 0.1\nfor models up to 13B and 0.05 for 33B and 65B models. Following previous work on instruction\nfinetuning [ 62,60] and after benchmarking other linear and cosine schedules, we use a constant\nlearning rate schedule. We use group-by-length to group examples of similar lengths in the same\nbatch (note this will produce a oscillating loss curve). The hyperparameters we tune for each model\nsize are shown in Table 9.\nB.3 Ablations\nWhile it is general practice in the literature to only train on the response in instruction following\ndatasets, we study the effect of training on the instruction in addition to the response in Table 10. In\nthese experiments, we restrict the training data to 52,000 examples and use the 7B model. Over four\ndifferent instruction tuning datasets, we find that only training on the target is beneficial to MMLU\n23']],
 'uris': None,
 'data': None}

In [43]:
results = collection.query(
            query_texts=["summerize the Component Separation method for CMB using Convolutional Neural Networks document"], n_results=5, include=["documents", "metadatas","distances"])
print(results)
for i in range(len(results['distances'][0])):
    if (abs(results['distances'][0][i]-1)<0.4):
        print(results['distances'][0][i])
        print(results['documents'][0][i][:100])
        print(results['metadatas'][0][i])
        print("-"*100)

{'ids': [['45', '46', '3', '25', '22']], 'distances': [[0.62945196401265, 1.2014087659918908, 1.4490561050844064, 1.457502030657284, 1.4734288925551329]], 'metadatas': [[{'filename': 'Component Separation method for CMB using Convolutional Neural Networks.pdf', 'page_number': 0}, {'filename': 'Component Separation method for CMB using Convolutional Neural Networks.pdf', 'page_number': 1}, {'filename': 'qlora.pdf', 'page_number': 3}, {'filename': 'qlora.pdf', 'page_number': 25}, {'filename': 'qlora.pdf', 'page_number': 22}]], 'embeddings': None, 'documents': [['Component Separation method for CMB using Convolutional Neural Networks\nA. Quintana1,2,3, B. Ruiz-Granados4, P. Ruiz-Lapuente1,2\n1Instituto de F´ ısica Fundamental (IFF-CSIC), Madrid, Spain,\n2Institut de Ci` encies del Cosmos (UB-IEEC), Barcelona, Spain\n3Universidad Internacional de Valencia, Valencia, Spain\n4Universidad de C´ ordoba, C´ ordoba, Spain\nThe aim of this project is to recover the CMB anisotropies maps in temperature and polar-\nized intensity by means of a deep convolutional neural network (CNN) which, after appropiate\ntraining, can remove the foregrounds from Planck and QUIJOTE data. The results are then\ncompared with those obtained by COMMANDER , based on Bayesian parametric component sep-\naration. The CNN successfully recovered the CMB signal for both All Sky and Partial Sky\nmaps showing frequency dependant results, being optimum for central frequencies where there\nis less contamination by foregrounds emissions such as galactic synchrotron and thermal dust\nemissions. Recovered maps in temperature are consistent with those obtained by Planck Col-\nlaboration, while polarized intensity has been recovered as a new observable. The polarized\nintensity maps recovered from QUIJOTE experiment are novel and of potential interest to the\nscientific community for the detection of primordial gravitational waves. The way forward will\nbe to recover the maps at higher NSIDE and make them available to the scientific community.\n1 Introduction\nPrevious works1have successfully demonstrated the use of Deep Learning techniques, such as\nConvolutional Neural Networks (CNN), for the extraction of CMB temperature maps, in partic-\nular with U-Net architecture2. In this work a U-Net CNN is trained from simulated observational\nmaps, with the aim of recovering the CMB signal in temperature and polarized intensity from\nPlanckaand QUIJOTEbobservational maps. In order to validate the methodology, the recov-\nered CMB maps are compared with those obtained by Planck Collaboration with COMMANDER as\na different Component Separation Method.\n2 Methodology and Results\nA CNN with U-Net architecture is developed and trained in order to be able to recover the CMB\nsignal. To train the CNN, 803 mock maps are simulated at NSIDE 64 at different frequency\nbands, both in temperature and polarized intensity for Planck and QUIJOTE maps, meaning\nthat the CNN has to be trained four times. A different dataset of 209 mock maps are also\ngenerated in order to validate the CNN, and finally 11 mock maps are generated for testing the\nCNN. For each frequency, a different realization of the clean CMB signal generated with PySM is\nprovided to the CNN. Once the CNN has been proved to be properly trained with the validation\nand test dataset, it is directly applied to resolve the Planck and QUIJOTE maps.\nahttps://www.cosmos.esa.int/web/planck\nbhttps://www.iac.es/es/proyectos/experimento-quijote-cmbarXiv:2405.04564v1  [astro-ph.CO]  7 May 2024', 'Figure 1 – Left: Recovered CMB maps in temperature at frequencies 30, 44, 70, 100, 143, 217 and 353 GHz from\nPlanck. Right: Recovered CMB maps in polarized intensity at frequencies 11, 13, 17 and 19 GHz from QUIJOTE.\nFigure 2 – Comparison between CMB signal in temperature recovered from Planck (left) and in polarized intensity\nfrom QUIJOTE (right). CMB recovered by the CNN (up), by COMMANDER (middle) and residuals (down) are shown.\nIn Figure 1, it is observed that below 44 GHz and above 217 GHZ the CNN struggles\nto recover the CMB signal in temperature since synchrotron and thermal dust foregrounds\nemissions, respectively, are dominant. In Figure 2, on the left side it is seen that recovered\nmap in temperature is consistent with the CMB obtained by Planck. On the right side, while\ndeviations from results in polarized intensity with respect to Planck are apparent by eye, it can\nbe proved that the map recovered by the CNN is significantly more Gaussian than Planck, which\ncould be a hint of a better CMB signal; deep statistical analysis is yet to be performed though.\n3 Conclusions\nCMB anisotropies maps have been successfully recovered by a CNN for both All Sky and Partial\nSky maps. Recovered maps are frequency dependant, with optimum results for central frequen-\ncies. It is the first time that polarized intensity defined as a scalar IP=p\nQ2+U2is recovered\nas an observable. While all simulations have been run at NSIDE 64, the next step will be to\nrepeat the procedure at NSIDE 512.\nReferences\n1. G.J. Wang, H.L. Shi, Y.P. Yan, J.Q. Xia, Y.Y. Zhao, S.Y. Li, and J.F. Li, Astrophysical\nJournal Supplement Series 260(1) , 13 (2022)\n2. O.Ronneberger, P. Fischer, and T.Brox, arxiv: 1505.04597\n3. Planck Collaboration. Astronomy and Astrophysics 641, A1 (2020)\n4. Rubi˜ no-Mart´ ın et al. Monthly Notices of the Royal Astronomical Society 519(3) , 3383\n(2023)', 'Parameter Efficient Finetuning (PEFT) method, most of the memory footprint for LLM finetuning\ncomes from activation gradients and not from the learned LoRA parameters. For a 7B LLaMA\nmodel trained on FLAN v2 with a batch size of 1, with LoRA weights equivalent to commonly used\n0.2% of the original model weights[ 28,37], the LoRA input gradients have a memory footprint\nof 567 MB while the LoRA parameters take up only 26 MB. With gradient checkpointing [ 9], the\ninput gradients reduce to an average of 18 MB per sequence making them more memory intensive\nthan all LoRA weights combined. In comparison, the 4-bit base model consumes 5,048 MB of\nmemory. This highlights that gradient checkpointing is important but also that aggressively reducing\nthe amount of LoRA parameter yields only minor memory benefits. This means we can use more\nadapters without significantly increasing the overall training memory footprint (see Appendix G\nfor a detailed breakdown). As discussed later, this is crucial for recovering full 16-bit precision\nperformance.\n3 QL ORA Finetuning\nQLORAachieves high-fidelity 4-bit finetuning via two techniques we propose—4-bit NormalFloat\n(NF4) quantization and Double Quantization. Additionally, we introduce Paged Optimizers, to\nprevent memory spikes during gradient checkpointing from causing out-of-memory errors that have\ntraditionally made finetuning on a single machine difficult for large models.\nQLORAhas one low-precision storage data type, in our case usually 4-bit, and one computation data\ntype that is usually BFloat16. In practice, this means whenever a QLORAweight tensor is used, we\ndequantize the tensor to BFloat16, and then perform a matrix multiplication in 16-bit.\nWe now discuss the components of QL ORA followed by a formal definition of QL ORA.\n4-bit NormalFloat Quantization The NormalFloat (NF) data type builds on Quantile Quantization\n[15] which is an information-theoretically optimal data type that ensures each quantization bin has an\nequal number of values assigned from the input tensor. Quantile quantization works by estimating\nthe quantile of the input tensor through the empirical cumulative distribution function.\nThe main limitation of quantile quantization is that the process of quantile estimation is expensive.\nTherefore fast quantile approximation algorithms, such as SRAM quantiles [ 15], are used to estimate\nthem. Due to the approximate nature of these quantile estimation algorithms, the data type has large\nquantization errors for outliers, which are often the most important values.\nExpensive quantile estimates and approximation errors can be avoided when input tensors come from\na distribution fixed up to a quantization constant. In such cases, input tensors have the same quantiles\nmaking exact quantile estimation computationally feasible.\nSince pretrained neural network weights usually have a zero-centered normal distribution with\nstandard deviation σ(see Appendix F), we can transform all weights to a single fixed distribution by\nscaling σsuch that the distribution fits exactly into the range of our data type. For our data type, we\nset the arbitrary range [−1,1]. As such, both the quantiles for the data type and the neural network\nweights need to be normalized into this range.\nThe information theoretically optimal data type for zero-mean normal distributions with arbitrary\nstandard deviations σin the range [−1,1]is computed as follows: (1) estimate the 2k+ 1quantiles\nof a theoretical N(0,1)distribution to obtain a k-bit quantile quantization data type for normal distri-\nbutions, (2) take this data type and normalize its values into the [−1,1]range, (3) quantize an input\nweight tensor by normalizing it into the [−1,1]range through absolute maximum rescaling.\nOnce the weight range and data type range match, we can quantize as usual. Step (3) is equivalent to\nrescaling the standard deviation of the weight tensor to match the standard deviation of the k-bit data\ntype. More formally, we estimate the 2kvalues qiof the data type as follows:\nqi=1\n2\x12\nQX\x12i\n2k+ 1\x13\n+QX\x12i+ 1\n2k+ 1\x13\x13\n, (4)\nwhere QX(·)is the quantile function of the standard normal distribution N(0,1). A problem for\na symmetric k-bit quantization is that this approach does not have an exact representation of zero,\nwhich is an important property to quantize padding and other zero-valued elements with no error. To\n4', 'LLaMA model size0%25%50%75%100%\n7B (6.9 GB) 13B (11.3 GB) 33B (24.7 GB) 65B (45.0 GB)Input gradient Optimizer Weight gradient Adapters ModelFigure 6: Breakdown of the memory footprint of different LLaMA models. The input gradient size is for batch\nsize 1 and sequence length 512 and is estimated only for adapters and the base model weights (no attention).\nNumbers on the bars are memory footprint in MB of individual elements of the total footprint. While some\nmodels do not quite fit on certain GPUs, paged optimzier provide enough memory to make these models fit.\nG Memory Footprint\nThe memory footpring for QLoRA training with different LLaMA base models can be seen in\nFigure 6. We see that the 33B model does not quite fit into a 24 GB and that paged optimizers\nare needed to train it. Depicted is also batch size 1 with a sequence length of 512 and gradient\ncheckpointning. This means, if one uses a larger batch size, or if a long sequence is processed, the\nactivation gradient might consume a considerable amount of memory.\nTable 13: The complete ordering induced by pairwise GPT-4 judgments between systems\nModel Params Size\nGuanaco 65B 41 GB\nGuanaco 33B 21 GB\nVicuna 13B 26 GB\nChatGPT-3.5 Turbo N/A N/A\nBard N/A N/A\nGuanaco 13B 10 GB\nGuanaco 7B 5 GB\n26', 'Parameters Dataset Batch size LR Steps Source Length Target Length\n7B All 16 2e-4 10000 384 128\n7B OASST1 16 2e-4 1875 - 512\n7B HH-RLHF 16 2e-4 10000 - 768\n7B Longform 16 2e-4 4000 512 1024\n13B All 16 2e-4 10000 384 128\n13B OASST1 16 2e-4 1875 - 512\n13B HH-RLHF 16 2e-4 10000 - 768\n13B Longform 16 2e-4 4000 512 1024\n33B All 32 1e-4 5000 384 128\n33B OASST1 16 1e-4 1875 - 512\n33B HH-RLHF 32 1e-4 5000 - 768\n33B Longform 32 1e-4 2343 512 1024\n65B All 64 1e-4 2500 384 128\n65B OASST1 16 1e-4 1875 - 512\n65B HH-RLHF 64 1e-4 2500 - 768\n65B Longform 32 1e-4 2343 512 1024\nTable 9: Training hyperparameters for QL ORA finetuning on different datasets and across model sizes.\nSelf-Instruct, Alpaca, Unnatural Instructions The Self-Instruct, Alpaca, and Unnatural Instruc-\ntions datasets [ 59,55,26] are instruction tuning datasets collected with various approaches of model\ndistillation from GPT-3 Instruct and ChatGPT. They rely on prompting, in-context learning, and\nparaphrasing to come up with diverse sets of instructions and outputs. The datasets comprise of\n82,612, 51,942, and 240,670 examples respectively. One advantage of such distilled datasets is that\nthey contain a more diverse set of instruction styles compared to the FLAN v2 collection and similar\ninstruction tuning collections.\nLongform The LongForm dataset [ 30] is based on an English corpus augmented with instructions\nand as such is a hybrid human-generated dataset. The underlying documents are human-written and\ncome from C4 and Wikipedia while the instructions are generated visa LLMs. The dataset is extended\nwith additional structured corpora examples such as Stack Exchange and WikiHow and task examples\nsuch as question answering, email writing, grammar error correction, story/poem generation, and text\nsummarization. The dataset contains 23,700 examples.\nChip2 is part of the OIG Laion dataset. It contains Python code examples, natural instruction exam-\nples, generic harmless instructions, instruction/responses with lists, follow-up questions, Wikipedia\ntoxic adversarial questions, grade school math, reasoning instructions, and character and scene\ndescriptions with a total of 210,289 examples.\nB.2 Hyperparameters\nWe provide the exact hyperparameters used in our QLORAfinetuning experiments. We find hyper-\nparameters to be largely robust across datasets. We use the MMLU 5-shot dev set for validation\nand hyperparameter tuning. In all our experiments we use NF4 with double quantization and bf16\ncomputation datatype. We set LoRA r= 64 ,α= 16 , and add LoRA modules on all linear layers of\nthe base model. We also use Adam beta2 of 0.999, max grad norm of 0.3 and LoRA dropout of 0.1\nfor models up to 13B and 0.05 for 33B and 65B models. Following previous work on instruction\nfinetuning [ 62,60] and after benchmarking other linear and cosine schedules, we use a constant\nlearning rate schedule. We use group-by-length to group examples of similar lengths in the same\nbatch (note this will produce a oscillating loss curve). The hyperparameters we tune for each model\nsize are shown in Table 9.\nB.3 Ablations\nWhile it is general practice in the literature to only train on the response in instruction following\ndatasets, we study the effect of training on the instruction in addition to the response in Table 10. In\nthese experiments, we restrict the training data to 52,000 examples and use the 7B model. Over four\ndifferent instruction tuning datasets, we find that only training on the target is beneficial to MMLU\n23']], 'uris': None, 'data': None}
0.62945196401265
Component Separation method for CMB using Convolutional Neural Networks
A. Quintana1,2,3, B. Ruiz-Gr
{'filename': 'Component Separation method for CMB using Convolutional Neural Networks.pdf', 'page_number': 0}
----------------------------------------------------------------------------------------------------
1.2014087659918908
Figure 1 – Left: Recovered CMB maps in temperature at frequencies 30, 44, 70, 100, 143, 217 and 353
{'filename': 'Component Separation method for CMB using Convolutional Neural Networks.pdf', 'page_number': 1}
----------------------------------------------------------------------------------------------------

In [ ]:
#this cell is a testing cell for filtering the results of the query by the distance

temp_results={"ids":[[]],"distances":[[]],"metadatas":[[]],"documents":[[]]}
        for i in range(5):
            if abs(1-results["distances"][0][i]<0.4): 
                temp_results["ids"][0].append(results["ids"][0][i])
                temp_results["distances"][0].append(results["distances"][0][i])
                temp_results["metadatas"][0].append(results["metadatas"][0][i])
                temp_results["documents"].append(results["documents"][0][i])
        results=temp_results

In [ ]:
all_file_names=set()
for line in collection.get()['metadatas']:
    all_file_names.add(line['filename'])
all_file_names

In [ ]:
for doc in collection.get()['documents']:
    print(len(doc))

In [3]:
import PyPDF2
pages=PyPDF2.PdfReader("/Users/matansharon/python/opensource_rag/pdf_files/qlora.pdf").pages

In [ ]:
# from nltk.tokenize import word_tokenize
# for page in pages:
#     print(len(word_tokenize(page.extract_text())))

In [4]:
import pandas as pd
from nltk.tokenize import word_tokenize
df=pd.read_csv("salaries.csv")
df1000=df.head(1000)
df_str=df1000.to_string()
len(word_tokenize(df_str))

13232

In [15]:
all_rows=(df_str.split("\n"))
col_rows_names=all_rows[0]
# print(col_rows_names.strip())
for line in all_rows:
    print((line))

     work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
0         2024               MI              FT                          Data Scientist   120000             USD         120000                 AU             0               AU            S
1         2024               MI              FT                          Data Scientist    70000             USD          70000                 AU             0               AU            S
2         2024               MI              CT                          Data Scientist   130000             USD         130000                 US             0               US            M
3         2024               MI              CT                          Data Scientist   110000             USD         110000                 US             0               US            M
4         2024               MI              FT                    Data Science Manager   240000             USD         240000                 US             0               US            M
5         2024               MI              FT                    Data Science Manager   180000             USD         180000                 US             0               US            M
6         2024               SE              FT          Business Intelligence Engineer   202800             USD         202800                 US             0               US            M
7         2024               SE              FT          Business Intelligence Engineer   115000             USD         115000                 US             0               US            M
8         2024               SE              FT                          Data Architect    80000             GBP         100000                 GB             0               GB            M
9         2024               SE              FT                          Data Architect    45000             GBP          56250                 GB             0               GB            M
10        2024               SE              FT                            Data Analyst    90000             CAD          69230                 CA             0               CA            M
11        2024               SE              FT                            Data Analyst    75000             CAD          57692                 CA             0               CA            M
12        2024               MI              FT                            Data Analyst   112300             USD         112300                 US             0               US            M
13        2024               MI              FT                            Data Analyst    75100             USD          75100                 US             0               US            M
14        2024               MI              FT                   Business Intelligence   178200             USD         178200                 US             0               US            M
15        2024               MI              FT                   Business Intelligence    87000             USD          87000                 US             0               US            M
16        2024               SE              FT                          Data Scientist   138000             USD         138000                 CA             0               CA            M
17        2024               SE              FT                          Data Scientist    72000             USD          72000                 CA             0               CA            M
18        2024               MI              FT                             ML Engineer   252000             USD         252000                 US             0               US            M
19        2024               MI              FT                             ML Engineer   168000             USD         168000                 US             0               US            M
20        2024               SE              FT                            Data Modeler   140000             USD         140000                 US           100               US            M
21        2024               SE              FT                            Data Modeler   130000             USD         130000                 US           100               US            M
22        2024               SE              FT               Machine Learning Engineer   190000             USD         190000                 US             0               US            M
23        2024               SE              FT               Machine Learning Engineer   100000             USD         100000                 US             0               US            M
24        2024               MI              FT                          Data Scientist   150650             USD         150650                 US             0               US            M
25        2024               MI              FT                          Data Scientist   106700             USD         106700                 US             0               US            M
26        2024               SE              FT                          Data Scientist   192300             USD         192300                 US             0               US            M
27        2024               SE              FT                          Data Scientist   107900             USD         107900                 US             0               US            M
28        2024               MI              FT             Data Integration Specialist   115000             USD         115000                 US           100               US            M
29        2024               MI              FT             Data Integration Specialist    95500             USD          95500                 US           100               US            M
30        2024               MI              FT                      Research Scientist   195000             USD         195000                 US           100               US            M
31        2024               MI              FT                      Research Scientist   160000             USD         160000                 US           100               US            M
32        2024               SE              FT                          Data Scientist   257600             USD         257600                 US             0               US            M
33        2024               SE              FT                          Data Scientist   146000             USD         146000                 US             0               US            M
34        2024               EN              FT                            Data Analyst    90000             USD          90000                 CA             0               CA            M
35        2024               EN              FT                            Data Analyst    70000             USD          70000                 CA             0               CA            M
36        2024               SE              FT               Machine Learning Engineer   110000             EUR         122222                 NL           100               NL            S
37        2024               SE              FT               Machine Learning Engineer    70000             EUR          77777                 NL           100               NL            S
38        2024               SE              FT                           Data Engineer   158200             USD         158200                 US             0               US            M
39        2024               SE              FT                           Data Engineer    74100             USD          74100                 US             0               US            M
40        2024               SE              FT                           Data Engineer   231400             USD         231400                 US             0               US            M
41        2024               SE              FT                           Data Engineer   170955             USD         170955                 US             0               US            M
42        2024               MI              FT                           Data Engineer   137000             USD         137000                 US             0               US            M
43        2024               MI              FT                           Data Engineer    60300             USD          60300                 US             0               US            M
44        2024               MI              FT                            Data Analyst   101098             USD         101098                 US             0               US            M
45        2024               MI              FT                            Data Analyst    59469             USD          59469                 US             0               US            M
46        2024               MI              FT                    Data Product Manager   166363             USD         166363                 US             0               US            M
47        2024               MI              FT                    Data Product Manager   103977             USD         103977                 US             0               US            M
48        2024               SE              FT                            Data Manager   166000             USD         166000                 US             0               US            M
49        2024               SE              FT                            Data Manager   104000             USD         104000                 US             0               US            M
50        2024               SE              FT                      Research Scientist   170400             USD         170400                 US             0               US            M
51        2024               SE              FT                      Research Scientist   123800             USD         123800                 US             0               US            M
52        2024               MI              FT           Data Visualization Specialist    94763             USD          94763                 US           100               US            M
53        2024               MI              FT           Data Visualization Specialist    67750             USD          67750                 US           100               US            M
54        2024               SE              FT               Machine Learning Engineer   251250             USD         251250                 US             0               US            M
55        2024               SE              FT               Machine Learning Engineer   120750             USD         120750                 US             0               US            M
56        2024               MI              FT                            Data Analyst    30000             EUR          33333                 LT             0               LT            M
57        2024               MI              FT                            Data Analyst    25800             EUR          28666                 LT             0               LT            M
58        2024               SE              FT                          Data Scientist   189615             USD         189615                 US             0               US            M
59        2024               SE              FT                          Data Scientist   150385             USD         150385                 US             0               US            M
60        2024               SE              FT                            Data Science   283800             USD         283800                 US             0               US            M
61        2024               SE              FT                            Data Science   234700             USD         234700                 US             0               US            M
62        2024               MI              FT                          Data Scientist   109000             USD         109000                 US           100               US            M
63        2024               MI              FT                          Data Scientist    93000             USD          93000                 US           100               US            M
64        2024               MI              FT                          Data Scientist   164000             USD         164000                 US             0               US            M
65        2024               MI              FT                          Data Scientist   131000             USD         131000                 US             0               US            M
66        2024               MI              FT                         Data Specialist    45607             GBP          57008                 GB             0               GB            M
67        2024               MI              FT                         Data Specialist    30921             GBP          38651                 GB             0               GB            M
68        2024               MI              FT                            Data Analyst    55000             GBP          68750                 GB           100               GB            M
69        2024               MI              FT                            Data Analyst    45000             GBP          56250                 GB           100               GB            M
70        2024               SE              FT              Business Intelligence Lead   144300             USD         144300                 US             0               US            M
71        2024               SE              FT              Business Intelligence Lead   104800             USD         104800                 US             0               US            M
72        2024               SE              FT                           Data Engineer   212750             USD         212750                 US             0               US            M
73        2024               SE              FT                           Data Engineer   157250             USD         157250                 US             0               US            M
74        2024               EN              FT                            Data Analyst   150000             USD         150000                 US           100               US            M
75        2024               EN              FT                            Data Analyst   129200             USD         129200                 US           100               US            M
76        2024               SE              FT               Machine Learning Engineer   265000             USD         265000                 US             0               US            M
77        2024               SE              FT               Machine Learning Engineer   170000             USD         170000                 US             0               US            M
78        2024               SE              FT                          Data Scientist   190000             USD         190000                 US           100               US            M
79        2024               SE              FT                          Data Scientist   155000             USD         155000                 US           100               US            M
80        2024               SE              FT                           Data Engineer   165000             USD         165000                 US           100               US            M
81        2024               SE              FT                           Data Engineer   100000             USD         100000                 US           100               US            M
82        2024               MI              FT                           Data Engineer   213900             USD         213900                 US           100               US            M
83        2024               MI              FT                           Data Engineer   126500             USD         126500                 US           100               US            M
84        2024               SE              FT                        Research Analyst   130000             USD         130000                 US             0               US            M
85        2024               SE              FT                        Research Analyst   104000             USD         104000                 US             0               US            M
86        2024               SE              FT               Machine Learning Engineer   225000             USD         225000                 US           100               US            M
87        2024               SE              FT               Machine Learning Engineer    66000             USD          66000                 US           100               US            M
88        2024               SE              FT                             ML Engineer   220000             USD         220000                 US             0               US            M
89        2024               MI              FT           Business Intelligence Analyst   110000             USD         110000                 US             0               US            M
90        2024               MI              FT           Business Intelligence Analyst    85000             USD          85000                 US             0               US            M
91        2024               SE              FT               Machine Learning Engineer   282000             USD         282000                 US           100               US            M
92        2024               SE              FT               Machine Learning Engineer   188000             USD         188000                 US           100               US            M
93        2024               EX              FT                            Data Science   219650             USD         219650                 US           100               US            M
94        2024               EX              FT                            Data Science   136000             USD         136000                 US           100               US            M
95        2024               SE              FT                            Data Science   210850             USD         210850                 US             0               US            M
96        2024               SE              FT                            Data Science   145400             USD         145400                 US             0               US            M
97        2024               MI              FT                            Data Analyst   143800             USD         143800                 US           100               US            M
98        2024               MI              FT                            Data Analyst   106300             USD         106300                 US           100               US            M
99        2024               MI              FT                             AI Engineer   150000             USD         150000                 US           100               US            M
100       2024               MI              FT                             AI Engineer    90200             USD          90200                 US           100               US            M
101       2024               MI              FT                           Data Engineer   140000             USD         140000                 US             0               US            M
102       2024               MI              FT                           Data Engineer   110000             USD         110000                 US             0               US            M

In [5]:
import anthropic
import os
from dotenv import load_dotenv
load_dotenv()

client=anthropic.Anthropic(
        api_key=os.environ.get("ANTHROPIC_API_KEY")
    )
message = client.messages.create(
        # model="claude-3-opus-20240229",
        model='claude-3-haiku-20240307',
        max_tokens=4000,
        temperature=0.2  ,
        system=f"""
        You are a data analyst assistant.
        your given a pandas dataframe as input.
        try to analyze the data and give a summary of the data.
        """,
        messages=[
            {"role": "user", "content": df_str}
        ]
    )
print( message.content[0].text)

Here is a summary of the data:

1. **Work Year**: All the data is for the year 2024.

2. **Experience Level**: The experience levels range from Entry (EN), Mid (MI), Senior (SE), to Expert (EX).

3. **Employment Type**: Most employees are Full-Time (FT), with a few Part-Time (PT) employees.

4. **Job Titles**: The data includes a variety of data-related roles, such as Data Scientist, Data Analyst, Data Engineer, Business Intelligence Analyst, Machine Learning Engineer, and Research Scientist.

5. **Salaries**: Salaries range from $20,000 to $720,000 USD, with the majority falling between $70,000 and $250,000 USD.

6. **Salary Currency**: The salaries are reported in USD, GBP, CAD, EUR, and INR.

7. **Employee Residence**: Employees are located in the US, Canada, Australia, UK, Germany, Netherlands, Lithuania, France, Spain, and Kenya.

8. **Remote Ratio**: Most employees work fully on-site, with a few working fully remotely.

9. **Company Location**: Most companies are located in the US, with a few in other countries like Canada, UK, Germany, Netherlands, and Lithuania.

10. **Company Size**: The companies range from Small (S) to Large (L), with the majority being Medium (M) sized.

Overall, the data provides a comprehensive view of the data-related job market in 2024, with a focus on salaries, job titles, experience levels, and company characteristics.