In [ ]:
# #legacy code from the original chatbot

# def get_chatGPT_response(query: str, context: List[str]) -> str:
#     """
#     Queries the GPT API to get a response to the question.

#     Args:
#     query (str): The original query.
#     context (List[str]): The context of the query, returned by embedding search.

#     Returns:
#     A response to the question.
#     """
#     response = openai.chat.completions.create(
#         model="gpt-3.5-turbo",
#         messages=build_prompt(query, context),
#     )

#     return response.choices[0].message.content  # type: ignore


# def build_prompt(query: str, context: List[str]) -> List[ChatCompletionMessageParam]:
#     """
#     Builds a prompt for the LLM. #

#     This function builds a prompt for the LLM. It takes the original query,
#     and the returned context, and asks the model to answer the question based only
#     on what's in the context, not what's in its weights.

#     More information: https://platform.openai.com/docs/guides/chat/introduction

#     Args:
#     query (str): The original query.
#     context (List[str]): The context of the query, returned by embedding search.

#     Returns:
#     A prompt for the LLM (List[ChatCompletionMessageParam]).
#     """

#     system: ChatCompletionMessageParam = {
#         "role": "system",
#         "content": "I am going to ask you a question, which I would like you to answer"
#         "based only on the provided context, and not any other information."
#         "If there is not enough information in the context to answer the question,"
#         'say "I am not sure", then try to make a guess.'
#         "Break your answer up into nicely readable paragraphs.",
#     }
#     user: ChatCompletionMessageParam = {
#         "role": "user",
#         "content": f"The question is {query}. Here is all the context you have:"
#         f'{(" ").join(context)}',
#     }

#     return [system, user]

In [ ]:
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')

In [ ]:
for text in llm("AI is going to", stream=True):
    print(text, end="", flush=True)

# results on the cpu using ctransformers
### - 27.4 seconds
### output:
<p>
have an enormous impact on the future of the industry.
This year, AI was all over the show floor and there are a number of companies that are using AI in their products. Here's a quick look at some of them:
Fulcrum is an automated, artificial intelligence-powered software solution that helps manufacturers improve productivity and efficiency by automating processes, removing errors, and freeing up employees to focus on more complex tasks.
Kapil Khera, co-founder and CEO of Fulcrum, told Inman: "I don't know a single company that doesn't have AI in their product. I think it's the most important thing to come out of 2018."
The company is currently working on machine learning tools and workflow applications with machine intelligence technology so you can really begin building these powerful AI-powered solutions. The full AI-focused ecosystem, with automation in product design and sophisticated analytics, will be available to all customers by the end of 2018.
Kapil Khera, co-founder and CEO of Fulcrum
Surely
</p>

In [ ]:
from transformers import AutoModelForCausalLM, AutoTokenizer, pipeline

model_name_or_path = "TheBloke/TinyLlama-1.1B-Chat-v1.0-GPTQ"
# To use a different branch, change revision
# For example: revision="gptq-4bit-32g-actorder_True"
model = AutoModelForCausalLM.from_pretrained(model_name_or_path,
                                             device_map="auto",
                                             trust_remote_code=False,
                                             revision="main")

tokenizer = AutoTokenizer.from_pretrained(model_name_or_path, use_fast=True)

In [ ]:

def get_response_tiny_llama(text):
    path='/teamspace/studios/this_studio/TinyLlama-1.1B-Chat-v1.0-GPTQ'
    model = AutoModelForCausalLM.from_pretrained(model_name_or_path,
                                             device_map="auto",
                                             trust_remote_code=False,
                                             revision="main")

    tokenizer = AutoTokenizer.from_pretrained(model_name_or_path, use_fast=True)
    prompt = text
    system_message = "You are a story writing assistant"
    prompt_template=f'''<|system|>
    {system_message}</s>
    <|user|>
    {prompt}</s>
    <|assistant|>
    '''

    print("\n\n*** Generate:")

    input_ids = tokenizer(prompt_template, return_tensors='pt').input_ids.cuda()
    output = model.generate(inputs=input_ids, temperature=0.7, do_sample=True, top_p=0.95, top_k=40, max_new_tokens=512)
    return(tokenizer.decode(output[0]))

In [ ]:
print(get_response_tiny_llama("what is qlora?"))

# result on gpu 2.8 seconds

# handling the embedding model

In [ ]:
from sentence_transformers import SentenceTransformer
sentences = ["This is an example sentence", "Each sentence is converted"]

model = SentenceTransformer('sentence-transformers/all-MiniLM-L12-v2')
embeddings = model.encode(sentences)
print(embeddings)

In [ ]:
def convert_from_pdf_to_text(file_path):
    import PyPDF2

    read_pdf = PyPDF2.PdfReader(file_path)
    pages = read_pdf.pages
    res=''
    for page in pages:
        res+=page.extract_text()
    return res
pages=convert_from_pdf_to_text('/Users/matansharon/python/opensource_rag/pdf_files/A semantic loss for ontology classification.pdf')

import os
pdf_list=os.listdir("/Users/matansharon/python/opensource_rag/pdf_files")
text_list=os.listdir("/Users/matansharon/python/opensource_rag/text_files")

for pdf in pdf_list:
    temp=pdf.replace(".pdf",".txt")
    if temp not in text_list:
        text=convert_from_pdf_to_text("pdf_files/"+pdf)
        with open("text_files/"+temp, 'w') as f:
            f.write(text)

In [ ]:
def convert_from_pdf_to_text(file_path):
    import PyPDF2

    read_pdf = PyPDF2.PdfReader(file_path)
    pages = read_pdf.pages
    res=''
    for page in pages:
        res+=page.extract_text()
    return res
pages=convert_from_pdf_to_text('/Users/matansharon/python/opensource_rag/pdf_files/A semantic loss for ontology classification.pdf')

In [ ]:
import chromadb
client=chromadb.Client()
import os
import chromadb.utils.embedding_functions as embedding_functions
huggingface_ef = embedding_functions.HuggingFaceEmbeddingFunction(
    api_key=os.environ.get("HuggingFace_API_KEY"),
    model_name="sentence-transformers/all-MiniLM-L6-v2"
)

collection=client.get_or_create_collection('test',embedding_function=huggingface_ef)

In [ ]:
import chromadb
persist_directory = "chroma_storage"
client = chromadb.PersistentClient(path=persist_directory)
collection=client.get_collection("file1_collection")
print(collection.get().keys())

In [ ]:
results

In [ ]:
results = collection.query(
            query_texts=["summerize the Component Separation method for CMB using Convolutional Neural Networks document"], n_results=5, include=["documents", "metadatas","distances"])
print(results)
for i in range(len(results['distances'][0])):
    if (abs(results['distances'][0][i]-1)<0.4):
        print(results['distances'][0][i])
        print(results['documents'][0][i][:100])
        print(results['metadatas'][0][i])
        print("-"*100)

In [ ]:
#this cell is a testing cell for filtering the results of the query by the distance

temp_results={"ids":[[]],"distances":[[]],"metadatas":[[]],"documents":[[]]}
        for i in range(5):
            if abs(1-results["distances"][0][i]<0.4): 
                temp_results["ids"][0].append(results["ids"][0][i])
                temp_results["distances"][0].append(results["distances"][0][i])
                temp_results["metadatas"][0].append(results["metadatas"][0][i])
                temp_results["documents"].append(results["documents"][0][i])
        results=temp_results

In [ ]:
all_file_names=set()
for line in collection.get()['metadatas']:
    all_file_names.add(line['filename'])
all_file_names

In [ ]:
for doc in collection.get()['documents']:
    print(len(doc))

In [ ]:
import PyPDF2
pages=PyPDF2.PdfReader("/Users/matansharon/python/opensource_rag/pdf_files/qlora.pdf").pages

In [ ]:
# from nltk.tokenize import word_tokenize
# for page in pages:
#     print(len(word_tokenize(page.extract_text())))

In [ ]:
import pandas as pd
from nltk.tokenize import word_tokenize
df=pd.read_csv("salaries.csv")

df_str=df.to_string().strip()
len(word_tokenize(df_str))
with open("salaries2.txt", 'w') as f:
    f.write(df_str)

In [ ]:
all_rows=(df_str.split("\n"))
col_rows_names=all_rows[0]
# print(col_rows_names.strip())
for line in all_rows:
    print((line))

In [ ]:
import anthropic
import os
from dotenv import load_dotenv
load_dotenv()

client=anthropic.Anthropic(
        api_key=os.environ.get("ANTHROPIC_API_KEY")
    )
message = client.messages.create(
        # model="claude-3-opus-20240229",
        model='claude-3-haiku-20240307',
        max_tokens=4000,
        temperature=0.2  ,
        system=f"""
        You are a data analyst assistant.
        your given a dataframe that was converted into string with salaries of employees,
        return the head of the dataframe.
        
        """,
        messages=[
            {"role": "user", "content": df_str}
        ]
    )
print(message.usage)
print( message.content[0].text)

In [ ]:
message

In [ ]:
class Message():
    def __init__(self):
        self.content=''
        self.type=''
    def get_content(self):
        return self.content
    def get_type(self):
        return self.type

In [ ]:
import matplotlib.pyplot as plt

# Assuming the dataframe is named 'df'
plt.figure(figsize=(12, 6))
plt.hist(df1000['salary'], bins=20)
plt.xlabel('Salary')
plt.ylabel('Frequency')
plt.title('Salary Distribution')
plt.show()

In [113]:
import nltk
from nltk.tokenize import word_tokenize
import pandas as pd
# nltk.download('punkt')

files=os.listdir("/Users/matansharon/python/opensource_rag/documents")
files
for file in files:
    if file.endswith(".pdf"):
        print(file)
        pages=convert_from_pdf_to_text("/Users/matansharon/python/opensource_rag/documents/"+file)
        print(len(word_tokenize(pages)))
    elif file.endswith(".csv"):
        df=pd.read_csv("/Users/matansharon/python/opensource_rag/documents/"+file)
        df_str=df.to_string().strip()
        print(df_str)
        # print(len(word_tokenize(df_str)))

work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
0         2024               MI              FT                          Data Scientist   120000             USD         120000                 AU             0               AU            S
1         2024               MI              FT                          Data Scientist    70000             USD          70000                 AU             0               AU            S
2         2024               MI              CT                          Data Scientist   130000             USD         130000                 US             0               US            M
3         2024               MI              CT                          Data Scientist   110000             USD         110000                 US             0               US            M
4         2024               MI              FT                    Data Science Manager   240000             USD         240000                 US             0               US            M
5         2024               MI              FT                    Data Science Manager   180000             USD         180000                 US             0               US            M
6         2024               SE              FT          Business Intelligence Engineer   202800             USD         202800                 US             0               US            M
7         2024               SE              FT          Business Intelligence Engineer   115000             USD         115000                 US             0               US            M
8         2024               SE              FT                          Data Architect    80000             GBP         100000                 GB             0               GB            M
9         2024               SE              FT                          Data Architect    45000             GBP          56250                 GB             0               GB            M
10        2024               SE              FT                            Data Analyst    90000             CAD          69230                 CA             0               CA            M
11        2024               SE              FT                            Data Analyst    75000             CAD          57692                 CA             0               CA            M
12        2024               MI              FT                            Data Analyst   112300             USD         112300                 US             0               US            M
13        2024               MI              FT                            Data Analyst    75100             USD          75100                 US             0               US            M
14        2024               MI              FT                   Business Intelligence   178200             USD         178200                 US             0               US            M
15        2024               MI              FT                   Business Intelligence    87000             USD          87000                 US             0               US            M
16        2024               SE              FT                          Data Scientist   138000             USD         138000                 CA             0               CA            M
17        2024               SE              FT                          Data Scientist    72000             USD          72000                 CA             0               CA            M
18        2024               MI              FT                             ML Engineer   252000             USD         252000                 US             0               US            M
19        2024               MI              FT                             ML Engineer   168000             USD         168000                 US             0               US            M
20        2024               SE              FT                            Data Modeler   140000             USD         140000                 US           100               US            M
21        2024               SE              FT                            Data Modeler   130000             USD         130000                 US           100               US            M
22        2024               SE              FT               Machine Learning Engineer   190000             USD         190000                 US             0               US            M
23        2024               SE              FT               Machine Learning Engineer   100000             USD         100000                 US             0               US            M
24        2024               MI              FT                          Data Scientist   150650             USD         150650                 US             0               US            M
25        2024               MI              FT                          Data Scientist   106700             USD         106700                 US             0               US            M
26        2024               SE              FT                          Data Scientist   192300             USD         192300                 US             0               US            M
27        2024               SE              FT                          Data Scientist   107900             USD         107900                 US             0               US            M
28        2024               MI              FT             Data Integration Specialist   115000             USD         115000                 US           100               US            M
29        2024               MI              FT             Data Integration Specialist    95500             USD          95500                 US           100               US            M
30        2024               MI              FT                      Research Scientist   195000             USD         195000                 US           100               US            M
31        2024               MI              FT                      Research Scientist   160000             USD         160000                 US           100               US            M
32        2024               SE              FT                          Data Scientist   257600             USD         257600                 US             0               US            M
33        2024               SE              FT                          Data Scientist   146000             USD         146000                 US             0               US            M
34        2024               EN              FT                            Data Analyst    90000             USD          90000                 CA             0               CA            M
35        2024               EN              FT                            Data Analyst    70000             USD          70000                 CA             0               CA            M
36        2024               SE              FT               Machine Learning Engineer   110000             EUR         122222                 NL           100               NL            S
37        2024               SE              FT               Machine Learning Engineer    70000             EUR          77777                 NL           100               NL            S
38        2024               SE              FT                           Data Engineer   158200             USD         158200                 US             0               US            M
39        2024               SE              FT                           Data Engineer    74100             USD          74100                 US             0               US            M
40        2024               SE              FT                           Data Engineer   231400             USD         231400                 US             0               US            M
41        2024               SE              FT                           Data Engineer   170955             USD         170955                 US             0               US            M
42        2024               MI              FT                           Data Engineer   137000             USD         137000                 US             0               US            M
43        2024               MI              FT                           Data Engineer    60300             USD          60300                 US             0               US            M
44        2024               MI              FT                            Data Analyst   101098             USD         101098                 US             0               US            M
45        2024               MI              FT                            Data Analyst    59469             USD          59469                 US             0               US            M
46        2024               MI              FT                    Data Product Manager   166363             USD         166363                 US             0               US            M
47        2024               MI              FT                    Data Product Manager   103977             USD         103977                 US             0               US            M
48        2024               SE              FT                            Data Manager   166000             USD         166000                 US             0               US            M
49        2024               SE              FT                            Data Manager   104000             USD         104000                 US             0               US            M
50        2024               SE              FT                      Research Scientist   170400             USD         170400                 US             0               US            M
51        2024               SE              FT                      Research Scientist   123800             USD         123800                 US             0               US            M
52        2024               MI              FT           Data Visualization Specialist    94763             USD          94763                 US           100               US            M
53        2024               MI              FT           Data Visualization Specialist    67750             USD          67750                 US           100               US            M
54        2024               SE              FT               Machine Learning Engineer   251250             USD         251250                 US             0               US            M
55        2024               SE              FT               Machine Learning Engineer   120750             USD         120750                 US             0               US            M
56        2024               MI              FT                            Data Analyst    30000             EUR          33333                 LT             0               LT            M
57        2024               MI              FT                            Data Analyst    25800             EUR          28666                 LT             0               LT            M
58        2024               SE              FT                          Data Scientist   189615             USD         189615                 US             0               US            M
59        2024               SE              FT                          Data Scientist   150385             USD         150385                 US             0               US            M
60        2024               SE              FT                            Data Science   283800             USD         283800                 US             0               US            M
61        2024               SE              FT                            Data Science   234700             USD         234700                 US             0               US            M
62        2024               MI              FT                          Data Scientist   109000             USD         109000                 US           100               US            M
63        2024               MI              FT                          Data Scientist    93000             USD          93000                 US           100               US            M
64        2024               MI              FT                          Data Scientist   164000             USD         164000                 US             0               US            M
65        2024               MI              FT                          Data Scientist   131000             USD         131000                 US             0               US            M
66        2024               MI              FT                         Data Specialist    45607             GBP          57008                 GB             0               GB            M
67        2024               MI              FT                         Data Specialist    30921             GBP          38651                 GB             0               GB            M
68        2024               MI              FT                            Data Analyst    55000             GBP          68750                 GB           100               GB            M
69        2024               MI              FT                            Data Analyst    45000             GBP          56250                 GB           100               GB            M
70        2024               SE              FT              Business Intelligence Lead   144300             USD         144300                 US             0               US            M
71        2024               SE              FT              Business Intelligence Lead   104800             USD         104800                 US             0               US            M
72        2024               SE              FT                           Data Engineer   212750             USD         212750                 US             0               US            M
73        2024               SE              FT                           Data Engineer   157250             USD         157250                 US             0               US            M
74        2024               EN              FT                            Data Analyst   150000             USD         150000                 US           100               US            M
75        2024               EN              FT                            Data Analyst   129200             USD         129200                 US           100               US            M
76        2024               SE              FT               Machine Learning Engineer   265000             USD         265000                 US             0               US            M
77        2024               SE              FT               Machine Learning Engineer   170000             USD         170000                 US             0               US            M
78        2024               SE              FT                          Data Scientist   190000             USD         190000                 US           100               US            M
79        2024               SE              FT                          Data Scientist   155000             USD         155000                 US           100               US            M
80        2024               SE              FT                           Data Engineer   165000             USD         165000                 US           100               US            M
81        2024               SE              FT                           Data Engineer   100000             USD         100000                 US           100               US            M
82        2024               MI              FT                           Data Engineer   213900             USD         213900                 US           100               US            M
83        2024               MI              FT                           Data Engineer   126500             USD         126500                 US           100               US            M
84        2024               SE              FT                        Research Analyst   130000             USD         130000                 US             0               US            M
85        2024               SE              FT                        Research Analyst   104000             USD         104000                 US             0               US            M
86        2024               SE              FT               Machine Learning Engineer   225000             USD         225000                 US           100               US            M
87        2024               SE              FT               Machine Learning Engineer    66000             USD          66000                 US           100               US            M
88        2024               SE              FT                             ML Engineer   220000             USD         220000                 US             0               US            M
89        2024               MI              FT           Business Intelligence Analyst   110000             USD         110000                 US             0               US            M
90        2024               MI              FT           Business Intelligence Analyst    85000             USD          85000                 US             0               US            M
91        2024               SE              FT               Machine Learning Engineer   282000             USD         282000                 US           100               US            M
92        2024               SE              FT               Machine Learning Engineer   188000             USD         188000                 US           100               US            M
93        2024               EX              FT                            Data Science   219650             USD         219650                 US           100               US            M
94        2024               EX              FT                            Data Science   136000             USD         136000                 US           100               US            M
95        2024               SE              FT                            Data Science   210850             USD         210850                 US             0               US            M
96        2024               SE              FT                            Data Science   145400             USD         145400                 US             0               US            M
97        2024               MI              FT                            Data Analyst   143800             USD         143800                 US           100               US            M
98        2024               MI              FT                            Data Analyst   106300             USD         106300                 US           100               US            M
99        2024               MI              FT                             AI Engineer   150000             USD         150000                 US           100               US            M
100       2024               MI              FT                             AI Engineer    90200             USD          90200                 US           100               US            M
101       2024               MI              FT                           Data Engineer   140000             USD         140000                 US             0               US            M
102       2024               MI              FT                           Data Engineer   110000             USD         110000                 US             0               US            M

In [141]:
def read_and_convert_csv(file_path: str) -> str:
    df=pd.read_csv(file_path)
    # Convert the dataframe to a string
    df=df.to_string().strip()
    column_row=df.split("\n")[0]
    #split the string into a list of strings
    rows=df.split("\n")
    pages=[]
    page=[]
    for i in range(1,len(rows),10):
        page.append(column_row)
        for j in range(i,i+10):
            if j<len(rows):
            
                page.append(rows[j])
        pages.append(page)
        page=[]
    return pages
res=read_and_convert_csv("/Users/matansharon/python/opensource_rag/documents/salaries.csv")
for page in res:
    for row in page:
        print(row)

work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
0         2024               MI              FT                          Data Scientist   120000             USD         120000                 AU             0               AU            S
1         2024               MI              FT                          Data Scientist    70000             USD          70000                 AU             0               AU            S
2         2024               MI              CT                          Data Scientist   130000             USD         130000                 US             0               US            M
3         2024               MI              CT                          Data Scientist   110000             USD         110000                 US             0               US            M
4         2024               MI              FT                    Data Science Manager   240000             USD         240000                 US             0               US            M
5         2024               MI              FT                    Data Science Manager   180000             USD         180000                 US             0               US            M
6         2024               SE              FT          Business Intelligence Engineer   202800             USD         202800                 US             0               US            M
7         2024               SE              FT          Business Intelligence Engineer   115000             USD         115000                 US             0               US            M
8         2024               SE              FT                          Data Architect    80000             GBP         100000                 GB             0               GB            M
9         2024               SE              FT                          Data Architect    45000             GBP          56250                 GB             0               GB            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
10        2024               SE              FT                            Data Analyst    90000             CAD          69230                 CA             0               CA            M
11        2024               SE              FT                            Data Analyst    75000             CAD          57692                 CA             0               CA            M
12        2024               MI              FT                            Data Analyst   112300             USD         112300                 US             0               US            M
13        2024               MI              FT                            Data Analyst    75100             USD          75100                 US             0               US            M
14        2024               MI              FT                   Business Intelligence   178200             USD         178200                 US             0               US            M
15        2024               MI              FT                   Business Intelligence    87000             USD          87000                 US             0               US            M
16        2024               SE              FT                          Data Scientist   138000             USD         138000                 CA             0               CA            M
17        2024               SE              FT                          Data Scientist    72000             USD          72000                 CA             0               CA            M
18        2024               MI              FT                             ML Engineer   252000             USD         252000                 US             0               US            M
19        2024               MI              FT                             ML Engineer   168000             USD         168000                 US             0               US            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
20        2024               SE              FT                            Data Modeler   140000             USD         140000                 US           100               US            M
21        2024               SE              FT                            Data Modeler   130000             USD         130000                 US           100               US            M
22        2024               SE              FT               Machine Learning Engineer   190000             USD         190000                 US             0               US            M
23        2024               SE              FT               Machine Learning Engineer   100000             USD         100000                 US             0               US            M
24        2024               MI              FT                          Data Scientist   150650             USD         150650                 US             0               US            M
25        2024               MI              FT                          Data Scientist   106700             USD         106700                 US             0               US            M
26        2024               SE              FT                          Data Scientist   192300             USD         192300                 US             0               US            M
27        2024               SE              FT                          Data Scientist   107900             USD         107900                 US             0               US            M
28        2024               MI              FT             Data Integration Specialist   115000             USD         115000                 US           100               US            M
29        2024               MI              FT             Data Integration Specialist    95500             USD          95500                 US           100               US            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
30        2024               MI              FT                      Research Scientist   195000             USD         195000                 US           100               US            M
31        2024               MI              FT                      Research Scientist   160000             USD         160000                 US           100               US            M
32        2024               SE              FT                          Data Scientist   257600             USD         257600                 US             0               US            M
33        2024               SE              FT                          Data Scientist   146000             USD         146000                 US             0               US            M
34        2024               EN              FT                            Data Analyst    90000             USD          90000                 CA             0               CA            M
35        2024               EN              FT                            Data Analyst    70000             USD          70000                 CA             0               CA            M
36        2024               SE              FT               Machine Learning Engineer   110000             EUR         122222                 NL           100               NL            S
37        2024               SE              FT               Machine Learning Engineer    70000             EUR          77777                 NL           100               NL            S
38        2024               SE              FT                           Data Engineer   158200             USD         158200                 US             0               US            M
39        2024               SE              FT                           Data Engineer    74100             USD          74100                 US             0               US            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
40        2024               SE              FT                           Data Engineer   231400             USD         231400                 US             0               US            M
41        2024               SE              FT                           Data Engineer   170955             USD         170955                 US             0               US            M
42        2024               MI              FT                           Data Engineer   137000             USD         137000                 US             0               US            M
43        2024               MI              FT                           Data Engineer    60300             USD          60300                 US             0               US            M
44        2024               MI              FT                            Data Analyst   101098             USD         101098                 US             0               US            M
45        2024               MI              FT                            Data Analyst    59469             USD          59469                 US             0               US            M
46        2024               MI              FT                    Data Product Manager   166363             USD         166363                 US             0               US            M
47        2024               MI              FT                    Data Product Manager   103977             USD         103977                 US             0               US            M
48        2024               SE              FT                            Data Manager   166000             USD         166000                 US             0               US            M
49        2024               SE              FT                            Data Manager   104000             USD         104000                 US             0               US            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
50        2024               SE              FT                      Research Scientist   170400             USD         170400                 US             0               US            M
51        2024               SE              FT                      Research Scientist   123800             USD         123800                 US             0               US            M
52        2024               MI              FT           Data Visualization Specialist    94763             USD          94763                 US           100               US            M
53        2024               MI              FT           Data Visualization Specialist    67750             USD          67750                 US           100               US            M
54        2024               SE              FT               Machine Learning Engineer   251250             USD         251250                 US             0               US            M
55        2024               SE              FT               Machine Learning Engineer   120750             USD         120750                 US             0               US            M
56        2024               MI              FT                            Data Analyst    30000             EUR          33333                 LT             0               LT            M
57        2024               MI              FT                            Data Analyst    25800             EUR          28666                 LT             0               LT            M
58        2024               SE              FT                          Data Scientist   189615             USD         189615                 US             0               US            M
59        2024               SE              FT                          Data Scientist   150385             USD         150385                 US             0               US            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
60        2024               SE              FT                            Data Science   283800             USD         283800                 US             0               US            M
61        2024               SE              FT                            Data Science   234700             USD         234700                 US             0               US            M
62        2024               MI              FT                          Data Scientist   109000             USD         109000                 US           100               US            M
63        2024               MI              FT                          Data Scientist    93000             USD          93000                 US           100               US            M
64        2024               MI              FT                          Data Scientist   164000             USD         164000                 US             0               US            M
65        2024               MI              FT                          Data Scientist   131000             USD         131000                 US             0               US            M
66        2024               MI              FT                         Data Specialist    45607             GBP          57008                 GB             0               GB            M
67        2024               MI              FT                         Data Specialist    30921             GBP          38651                 GB             0               GB            M
68        2024               MI              FT                            Data Analyst    55000             GBP          68750                 GB           100               GB            M
69        2024               MI              FT                            Data Analyst    45000             GBP          56250                 GB           100               GB            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
70        2024               SE              FT              Business Intelligence Lead   144300             USD         144300                 US             0               US            M
71        2024               SE              FT              Business Intelligence Lead   104800             USD         104800                 US             0               US            M
72        2024               SE              FT                           Data Engineer   212750             USD         212750                 US             0               US            M
73        2024               SE              FT                           Data Engineer   157250             USD         157250                 US             0               US            M
74        2024               EN              FT                            Data Analyst   150000             USD         150000                 US           100               US            M
75        2024               EN              FT                            Data Analyst   129200             USD         129200                 US           100               US            M
76        2024               SE              FT               Machine Learning Engineer   265000             USD         265000                 US             0               US            M
77        2024               SE              FT               Machine Learning Engineer   170000             USD         170000                 US             0               US            M
78        2024               SE              FT                          Data Scientist   190000             USD         190000                 US           100               US            M
79        2024               SE              FT                          Data Scientist   155000             USD         155000                 US           100               US            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
80        2024               SE              FT                           Data Engineer   165000             USD         165000                 US           100               US            M
81        2024               SE              FT                           Data Engineer   100000             USD         100000                 US           100               US            M
82        2024               MI              FT                           Data Engineer   213900             USD         213900                 US           100               US            M
83        2024               MI              FT                           Data Engineer   126500             USD         126500                 US           100               US            M
84        2024               SE              FT                        Research Analyst   130000             USD         130000                 US             0               US            M
85        2024               SE              FT                        Research Analyst   104000             USD         104000                 US             0               US            M
86        2024               SE              FT               Machine Learning Engineer   225000             USD         225000                 US           100               US            M
87        2024               SE              FT               Machine Learning Engineer    66000             USD          66000                 US           100               US            M
88        2024               SE              FT                             ML Engineer   220000             USD         220000                 US             0               US            M
89        2024               MI              FT           Business Intelligence Analyst   110000             USD         110000                 US             0               US            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
90        2024               MI              FT           Business Intelligence Analyst    85000             USD          85000                 US             0               US            M
91        2024               SE              FT               Machine Learning Engineer   282000             USD         282000                 US           100               US            M
92        2024               SE              FT               Machine Learning Engineer   188000             USD         188000                 US           100               US            M
93        2024               EX              FT                            Data Science   219650             USD         219650                 US           100               US            M

In [114]:
splited=df_str.split('\n')
for row in splited:
    print(row)

work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
0         2024               MI              FT                          Data Scientist   120000             USD         120000                 AU             0               AU            S
1         2024               MI              FT                          Data Scientist    70000             USD          70000                 AU             0               AU            S
2         2024               MI              CT                          Data Scientist   130000             USD         130000                 US             0               US            M
3         2024               MI              CT                          Data Scientist   110000             USD         110000                 US             0               US            M
4         2024               MI              FT                    Data Science Manager   240000             USD         240000                 US             0               US            M
5         2024               MI              FT                    Data Science Manager   180000             USD         180000                 US             0               US            M
6         2024               SE              FT          Business Intelligence Engineer   202800             USD         202800                 US             0               US            M
7         2024               SE              FT          Business Intelligence Engineer   115000             USD         115000                 US             0               US            M
8         2024               SE              FT                          Data Architect    80000             GBP         100000                 GB             0               GB            M
9         2024               SE              FT                          Data Architect    45000             GBP          56250                 GB             0               GB            M
10        2024               SE              FT                            Data Analyst    90000             CAD          69230                 CA             0               CA            M
11        2024               SE              FT                            Data Analyst    75000             CAD          57692                 CA             0               CA            M
12        2024               MI              FT                            Data Analyst   112300             USD         112300                 US             0               US            M
13        2024               MI              FT                            Data Analyst    75100             USD          75100                 US             0               US            M
14        2024               MI              FT                   Business Intelligence   178200             USD         178200                 US             0               US            M
15        2024               MI              FT                   Business Intelligence    87000             USD          87000                 US             0               US            M
16        2024               SE              FT                          Data Scientist   138000             USD         138000                 CA             0               CA            M
17        2024               SE              FT                          Data Scientist    72000             USD          72000                 CA             0               CA            M
18        2024               MI              FT                             ML Engineer   252000             USD         252000                 US             0               US            M
19        2024               MI              FT                             ML Engineer   168000             USD         168000                 US             0               US            M
20        2024               SE              FT                            Data Modeler   140000             USD         140000                 US           100               US            M
21        2024               SE              FT                            Data Modeler   130000             USD         130000                 US           100               US            M
22        2024               SE              FT               Machine Learning Engineer   190000             USD         190000                 US             0               US            M
23        2024               SE              FT               Machine Learning Engineer   100000             USD         100000                 US             0               US            M
24        2024               MI              FT                          Data Scientist   150650             USD         150650                 US             0               US            M
25        2024               MI              FT                          Data Scientist   106700             USD         106700                 US             0               US            M
26        2024               SE              FT                          Data Scientist   192300             USD         192300                 US             0               US            M
27        2024               SE              FT                          Data Scientist   107900             USD         107900                 US             0               US            M
28        2024               MI              FT             Data Integration Specialist   115000             USD         115000                 US           100               US            M
29        2024               MI              FT             Data Integration Specialist    95500             USD          95500                 US           100               US            M
30        2024               MI              FT                      Research Scientist   195000             USD         195000                 US           100               US            M
31        2024               MI              FT                      Research Scientist   160000             USD         160000                 US           100               US            M
32        2024               SE              FT                          Data Scientist   257600             USD         257600                 US             0               US            M
33        2024               SE              FT                          Data Scientist   146000             USD         146000                 US             0               US            M
34        2024               EN              FT                            Data Analyst    90000             USD          90000                 CA             0               CA            M
35        2024               EN              FT                            Data Analyst    70000             USD          70000                 CA             0               CA            M
36        2024               SE              FT               Machine Learning Engineer   110000             EUR         122222                 NL           100               NL            S
37        2024               SE              FT               Machine Learning Engineer    70000             EUR          77777                 NL           100               NL            S
38        2024               SE              FT                           Data Engineer   158200             USD         158200                 US             0               US            M
39        2024               SE              FT                           Data Engineer    74100             USD          74100                 US             0               US            M
40        2024               SE              FT                           Data Engineer   231400             USD         231400                 US             0               US            M
41        2024               SE              FT                           Data Engineer   170955             USD         170955                 US             0               US            M
42        2024               MI              FT                           Data Engineer   137000             USD         137000                 US             0               US            M
43        2024               MI              FT                           Data Engineer    60300             USD          60300                 US             0               US            M
44        2024               MI              FT                            Data Analyst   101098             USD         101098                 US             0               US            M
45        2024               MI              FT                            Data Analyst    59469             USD          59469                 US             0               US            M
46        2024               MI              FT                    Data Product Manager   166363             USD         166363                 US             0               US            M
47        2024               MI              FT                    Data Product Manager   103977             USD         103977                 US             0               US            M
48        2024               SE              FT                            Data Manager   166000             USD         166000                 US             0               US            M
49        2024               SE              FT                            Data Manager   104000             USD         104000                 US             0               US            M
50        2024               SE              FT                      Research Scientist   170400             USD         170400                 US             0               US            M
51        2024               SE              FT                      Research Scientist   123800             USD         123800                 US             0               US            M
52        2024               MI              FT           Data Visualization Specialist    94763             USD          94763                 US           100               US            M
53        2024               MI              FT           Data Visualization Specialist    67750             USD          67750                 US           100               US            M
54        2024               SE              FT               Machine Learning Engineer   251250             USD         251250                 US             0               US            M
55        2024               SE              FT               Machine Learning Engineer   120750             USD         120750                 US             0               US            M
56        2024               MI              FT                            Data Analyst    30000             EUR          33333                 LT             0               LT            M
57        2024               MI              FT                            Data Analyst    25800             EUR          28666                 LT             0               LT            M
58        2024               SE              FT                          Data Scientist   189615             USD         189615                 US             0               US            M
59        2024               SE              FT                          Data Scientist   150385             USD         150385                 US             0               US            M
60        2024               SE              FT                            Data Science   283800             USD         283800                 US             0               US            M
61        2024               SE              FT                            Data Science   234700             USD         234700                 US             0               US            M
62        2024               MI              FT                          Data Scientist   109000             USD         109000                 US           100               US            M
63        2024               MI              FT                          Data Scientist    93000             USD          93000                 US           100               US            M
64        2024               MI              FT                          Data Scientist   164000             USD         164000                 US             0               US            M
65        2024               MI              FT                          Data Scientist   131000             USD         131000                 US             0               US            M
66        2024               MI              FT                         Data Specialist    45607             GBP          57008                 GB             0               GB            M
67        2024               MI              FT                         Data Specialist    30921             GBP          38651                 GB             0               GB            M
68        2024               MI              FT                            Data Analyst    55000             GBP          68750                 GB           100               GB            M
69        2024               MI              FT                            Data Analyst    45000             GBP          56250                 GB           100               GB            M
70        2024               SE              FT              Business Intelligence Lead   144300             USD         144300                 US             0               US            M
71        2024               SE              FT              Business Intelligence Lead   104800             USD         104800                 US             0               US            M
72        2024               SE              FT                           Data Engineer   212750             USD         212750                 US             0               US            M
73        2024               SE              FT                           Data Engineer   157250             USD         157250                 US             0               US            M
74        2024               EN              FT                            Data Analyst   150000             USD         150000                 US           100               US            M
75        2024               EN              FT                            Data Analyst   129200             USD         129200                 US           100               US            M
76        2024               SE              FT               Machine Learning Engineer   265000             USD         265000                 US             0               US            M
77        2024               SE              FT               Machine Learning Engineer   170000             USD         170000                 US             0               US            M
78        2024               SE              FT                          Data Scientist   190000             USD         190000                 US           100               US            M
79        2024               SE              FT                          Data Scientist   155000             USD         155000                 US           100               US            M
80        2024               SE              FT                           Data Engineer   165000             USD         165000                 US           100               US            M
81        2024               SE              FT                           Data Engineer   100000             USD         100000                 US           100               US            M
82        2024               MI              FT                           Data Engineer   213900             USD         213900                 US           100               US            M
83        2024               MI              FT                           Data Engineer   126500             USD         126500                 US           100               US            M
84        2024               SE              FT                        Research Analyst   130000             USD         130000                 US             0               US            M
85        2024               SE              FT                        Research Analyst   104000             USD         104000                 US             0               US            M
86        2024               SE              FT               Machine Learning Engineer   225000             USD         225000                 US           100               US            M
87        2024               SE              FT               Machine Learning Engineer    66000             USD          66000                 US           100               US            M
88        2024               SE              FT                             ML Engineer   220000             USD         220000                 US             0               US            M
89        2024               MI              FT           Business Intelligence Analyst   110000             USD         110000                 US             0               US            M
90        2024               MI              FT           Business Intelligence Analyst    85000             USD          85000                 US             0               US            M
91        2024               SE              FT               Machine Learning Engineer   282000             USD         282000                 US           100               US            M
92        2024               SE              FT               Machine Learning Engineer   188000             USD         188000                 US           100               US            M
93        2024               EX              FT                            Data Science   219650             USD         219650                 US           100               US            M
94        2024               EX              FT                            Data Science   136000             USD         136000                 US           100               US            M
95        2024               SE              FT                            Data Science   210850             USD         210850                 US             0               US            M
96        2024               SE              FT                            Data Science   145400             USD         145400                 US             0               US            M
97        2024               MI              FT                            Data Analyst   143800             USD         143800                 US           100               US            M
98        2024               MI              FT                            Data Analyst   106300             USD         106300                 US           100               US            M
99        2024               MI              FT                             AI Engineer   150000             USD         150000                 US           100               US            M
100       2024               MI              FT                             AI Engineer    90200             USD          90200                 US           100               US            M
101       2024               MI              FT                           Data Engineer   140000             USD         140000                 US             0               US            M
102       2024               MI              FT                           Data Engineer   110000             USD         110000                 US             0               US            M

In [ ]:


anthropic_client=anthropic.Anthropic(
        api_key=os.environ.get("ANTHROPIC_API_KEY")
    )
context=convert_from_pdf_to_text('/Users/matansharon/python/opensource_rag/documents/Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf')
query='summerize this book'
response = anthropic_client.messages.create(
        # model="claude-3-opus-20240229",
        model='claude-3-haiku-20240307',
        max_tokens=1000,
        temperature=0.2,
        system=f"""
        I am going to ask you a question, which I would like you to answer"
        "based only on the provided context, and not any other information."
        "If there is not enough information in the context to answer the question,"
        'say "I am not sure", then try to make a guess.'
        "Break your answer up into nicely readable paragraphs.
        here is all the context you have:{context}"
        """,
        messages=[
            {"role": "user", "content": query}
        ]
    )

In [ ]:
print(response.content[0].text)

In [ ]:
response.usage

In [ ]:
110840/80055

In [ ]:
import pathlib
import textwrap

import google.generativeai as genai

from IPython.display import display
from IPython.display import Markdown


def to_markdown(text):
  text = text.replace('•', '  *')
  return Markdown(textwrap.indent(text, '> ', predicate=lambda _: True))
GOOGLE_API_KEY=os.environ.get('GOOGLE_API_KEY')

genai.configure(api_key=GOOGLE_API_KEY)

In [ ]:
model = genai.GenerativeModel('gemini-pro')
model

In [ ]:
%%time
response = model.generate_content("What is the meaning of life?")

In [39]:
import chromadb
db_client = chromadb.PersistentClient(path='chroma_storage_pages')
collection=db_client.get_collection('by_pages_collection')
results = collection.query(
            query_texts=['what is qlora?'], n_results=3, include=["documents", "metadatas","distances"],
        )
        
    
context=results["documents"][0]

In [42]:
context

['Figure 1: Different finetuning methods and their memory requirements. QLORAimproves over LoRA by\nquantizing the transformer model to 4-bit precision and using paged optimizers to handle memory spikes.\n2 Background\nBlock-wise k-bit Quantization Quantization is the process of discretizing an input from a rep-\nresentation that holds more information to a representation with less information. It often means\ntaking a data type with more bits and converting it to fewer bits, for example from 32-bit floats to\n8-bit Integers. To ensure that the entire range of the low-bit data type is used, the input data type is\ncommonly rescaled into the target data type range through normalization by the absolute maximum\nof the input elements, which are usually structured as a tensor. For example, quantizing a 32-bit\nFloating Point (FP32) tensor into a Int8 tensor with range [−127,127]:\nXInt8=round\x12127\nabsmax (XFP32)XFP32\x13\n=round (cFP32·XFP32), (1)\nwhere cis the quantization constant orquantization scale . Dequantization is the inverse:\ndequant (cFP32,XInt8) =XInt8\ncFP32=XFP32(2)\nThe problem with this approach is that if a large magnitude value (i.e., an outlier) occurs in the input\ntensor, then the quantization bins—certain bit combinations—are not utilized well with few or no\nnumbers quantized in some bins. To prevent the outlier issue, a common approach is to chunk the\ninput tensor into blocks that are independently quantized, each with their own quantization constant c.\nThis can be formalized as follows: We chunk the input tensor X∈Rb×hintoncontiguous blocks of\nsizeBby flattening the input tensor and slicing the linear segment into n= (b×h)/Bblocks. We\nquantize these blocks independently with Equation 1 to create a quantized tensor and nquantization\nconstants ci.\nLow-rank Adapters Low-rank Adapter (LoRA) finetuning [ 28] is a method that reduces memory\nrequirements by using a small set of trainable parameters, often termed adapters, while not updating\nthe full model parameters which remain fixed. Gradients during stochastic gradient descent are\npassed through the fixed pretrained model weights to the adapter, which is updated to optimize the\nloss function. LoRA augments a linear projection through an additional factorized projection. Given\na projection XW =YwithX∈Rb×h,W∈Rh×oLoRA computes:\nY=XW +sXL 1L2, (3)\nwhereL1∈Rh×randL2∈Rr×o, and sis a scalar.\nMemory Requirement of Parameter-Efficient Finetuning One important point of discussion is\nthe memory requirement of LoRA during training both in terms of the number and size of adapters\nused. Since the memory footprint of LoRA is so minimal, we can use more adapters to improve\nperformance without significantly increasing the total memory used. While LoRA was designed as a\n3',
 'Table 3: Experiments comparing 16-bit BrainFloat (BF16), 8-bit Integer (Int8), 4-bit Float (FP4), and 4-\nbit NormalFloat (NF4) on GLUE and Super-NaturalInstructions. QLORAreplicates 16-bit LoRA and full-\nfinetuning.\nDataset GLUE (Acc.) Super-NaturalInstructions (RougeL)\nModel RoBERTa-large T5-80M T5-250M T5-780M T5-3B T5-11B\nBF16 88.6 40.1 42.1 48.0 54.3 62.0\nBF16 replication 88.6 40.0 42.2 47.3 54.9 -\nLoRA BF16 88.8 40.5 42.6 47.1 55.4 60.7\nQLORA Int8 88.8 40.4 42.9 45.4 56.5 60.7\nQLORA FP4 88.6 40.3 42.4 47.5 55.6 60.9\nQLORA NF4 + DQ - 40.4 42.7 47.7 55.3 60.9\npossible, but leads to performance degradation rel-\native to 16-bit [ 13,18]. This raises the crucial question of whether the lost performance can be\nrecovered by conducting 4-bit adapter finetuning. We test this for two setups.\nTable 2: Pile Common Crawl mean\nperplexity for different data types\nfor 125M to 13B OPT, BLOOM,\nLLaMA, and Pythia models.\nData type Mean PPL\nInt4 34.34\nFloat4 (E2M1) 31.07\nFloat4 (E3M0) 29.48\nNFloat4 + DQ 27.41The first focuses on a comparison with full 16-bit finetuning\nof RoBERTA and T5 models sized 125M to 3B parameters on\nGLUE and the Super-NaturalInstructions dataset. Results are\nshown in Table 3. In both datasets, we observe that 16-bit, 8-bit,\nand 4-bit adapter methods replicate the performance of the fully\nfinetuned 16-bit baseline. This suggests that the performance lost\ndue to the imprecise quantization can be fully recovered through\nadapter finetuning after quantization.\nFor our second setup, since full finetuning models at and beyond\n11B parameters requires more than one server of high memory\nGPUs, we continue to test whether 4-bit QLORAcan match\n16-bit LoRA at the 7B to 65B parameter scales. To this end, we\nfinetune LLaMA 7B through 65B on two instruction following\ndatasets, Alpaca and FLAN v2, and evaluate on the MMLU benchmark via 5-shot accuracy. Results\nare shown in Table 4 where we see that NF4 with double quantization fully recovers the 16-bit\nLoRA MMLU performance. In addition, we also note that QLORAwith FP4 lags behind the 16-bit\nbrain float LoRA baseline by about 1 percentage point. This corroborates both our findings that (1)\nQLORAwith NF4 replicates both 16-bit full finetuning and 16-bit LoRA finetuning performance,\nand (2) NF4 is superior to FP4 in terms of quantization precision.\nSummary Our results consistently show that 4-bit QLORAwith NF4 data type matches 16-\nbit full finetuning and 16-bit LoRA finetuning performance on academic benchmarks with well-\nestablished evaluation setups. We have also shown that NF4 is more effective than FP4 and that\ndouble quantization does not degrade performance. Combined, this forms compelling evidence that\n4-bit QL ORA tuning reliably yields results matching 16-bit methods.\nIn line with previous work on quantization [ 13], our MMLU and Elo results indicate that with a given\nfinetuning and inference resource budget it is beneficial to increase the number of parameters in the\nbase model while decreasing their precision. This highlights the importance of efficiency benefits\nfrom QLORA. Since we did not observe performance degradation compared to full-finetuning in\nour experiments with 4-bit finetuning, this raises the question of where the performance-precision\ntrade-off exactly lies for QLoRA tuning, which we leave to future work to explore.\nWe proceed to investigate instruction tuning at scales that would be impossible to explore with full\n16-bit finetuning on academic research hardware.\n5 Pushing the Chatbot State-of-the-art with QLoRA\nHaving established that 4-bit QLORAmatches 16-bit performance across scales, tasks, and datasets\nwe conduct an in-depth study of instruction finetuning up to the largest open-source language models\navailable for research. To assess the performance of instruction finetuning these models, we evaluate\n7',
 'Experimental setup. We consider three architectures (encoder, encoder-decoder, and decoder only)\nand compare QLoRA with 16-bit adapter-finetuning and with full-finetuning for models up to 3B. Our\nevaluations include GLUE [ 58] with RoBERTa-large [ 38], Super-NaturalInstructions (TKInstruct)\n[61] with T5 [ 49], and 5-shot MMLU [ 24] after finetuning LLaMA on Flan v2 [ 39] and Alpaca\n[55]. To additionally study the advantages of NF4 over other 4-bit data types, we use the setup of\nDettmers and Zettlemoyer [13] and measure post-quantization zero-shot accuracy and perplexity\nacross different models (OPT [ 72], LLaMA [ 57], BLOOM [ 52], Pythia [ 7]) for model sizes 125m -\n13B. We provide more details in the results section for each particular setup to make the results more\nreadable. Full details in Appendix A.\nQLoRA-AllQLoRA-FFN\nQLoRA-AttentionAlpaca (ours)\nStanford-Alpaca\nModel6061626364RougeL\nbits\n4\n16\nFigure 2: RougeL for LLaMA 7B models on the\nAlpaca dataset. Each point represents a run with a\ndifferent random seed. We improve on the Stanford\nAlpaca fully finetuned default hyperparameters to\nconstruct a strong 16-bit baseline for comparisons.\nUsing LoRA on all transformer layers is critical to\nmatch 16-bit performance.While paged optimizers are critical to do 33B/65B\nQLORAtuning on a single 24/48GB GPU, we do\nnot provide hard measurements for Paged Optimiz-\ners since the paging only occurs when processing\nmini-batches with long sequence lengths, which is\nrare. We do, however, perform an analysis of the\nruntime of paged optimizers for 65B models on\n48GB GPUs and find that with a batch size of 16,\npaged optimizers provide the same training speed\nas regular optimizers. Future work should measure\nand characterize under what circumstances slow-\ndowns occur from the paging process.\nDefault LoRA hyperparameters do not match 16-\nbit performance When using the standard prac-\ntice of applying LoRA to query and value attention\nprojection matrices [ 28], we are not able to replicate\nfull finetuning performance for large base models.\nAs shown in Figure 2 for LLaMA 7B finetuning on\nAlpaca, we find that the most critical LoRA hyper-\nparameter is how many LoRA adapters are used in\ntotal and that LoRA on all linear transformer block\nlayers are required to match full finetuning perfor-\nmance. Other LoRA hyperparameters, such as the\nprojection dimension r, do not affect performance (see Appendix A).\n1010\n1011\nT otal model bits\n0.60\n0.61\n0.62\n0.63\n0.64\n0.65\n0.66\n0.67Mean zeroshot accuracy\n4-bit LLaMA\nFloat\nNFloat\nNFloat + DQData type\nFigure 3: Mean zero-shot accuracy over Wino-\ngrande, HellaSwag, PiQA, Arc-Easy, and Arc-\nChallenge using LLaMA models with different 4-bit\ndata types. The NormalFloat data type significantly\nimproves the bit-for-bit accuracy gains compared\nto regular 4-bit Floats. While Double Quantization\n(DQ) only leads to minor gains, it allows for a more\nfine-grained control over the memory footprint to fit\nmodels of certain size (33B/65B) into certain GPUs\n(24/48GB).Similarly, we find that default hyperparameters for\nfully finetuned baselines are undertuned. We do a\nhyperparameter search over learning rates 1e-6 to\n5e-5 and batch sizes 8 to 128 to find robust baselines.\nResults for 7B LLaMA finetuning on Alpaca are\nshown in Figure 2.\n4-bit NormalFloat yields better performance\nthan 4-bit Floating Point While the 4-bit\nNormalFloat (NF4) data type is information-\ntheoretically optimal, it still needs to be determined\nif this property translates to empirical advantages.\nWe follow the setup from Dettmers and Zettlemoyer\n[13] where quantized LLMs (OPT [ 72], BLOOM\n[52], Pythia [ 7], LLaMA) of different sizes (125M\nto 65B) with different data types are evaluated on\nlanguage modeling and a set of zero-shot tasks. In\nFigure 3 and Table 2 we see that NF4 improves per-\nformance significantly over FP4 and Int4 and that\ndouble quantization reduces the memory footprint\nwithout degrading performance.\nk-bit QL ORAmatches 16-bit full finetuning and\n16-bit LoRA performance Recent findings have\nestablished that 4-bit quantization for inference is\n6']

In [35]:
import os
import PyPDF2
reader=PyPDF2.PdfReader("/Users/matansharon/python/opensource_rag/pdf_files/Non-linear Welfare-Aware Strategic Learning.pdf")
pages=reader.pages
text=""
for page in pages:
    text+=(page.extract_text())
text

'Non-linear Welfare-Aware Strategic Learning\nTian Xie1and Xueru Zhang1\n{xie.1379, zhang.12807}@osu.edu\n1the Ohio State University\nApril, 2024\nAbstract\nThis paper studies algorithmic decision-making in the presence of strategic individual be-\nhaviors, where an ML model is used to make decisions about human agents and the latter can\nadapt their behavior strategically to improve their future data. Existing results on strategic\nlearning have largely focused on the linearsetting where agents with linear labeling function\nbest respond to a (noisy) linear decision policy. Instead, this work focuses on general non-linear\nsettings where agents respond to the decision policy with only "local information" of the policy.\nMoreover, we simultaneously consider objectives of maximizing decision-maker welfare (model\nprediction accuracy), social welfare (agent improvement caused by strategic behaviors), and\nagent welfare (the extent that ML underestimates the agents). We first generalize the agent\nbest response model in previous works to the non-linear setting, then reveal the compatibility of\nwelfare objectives. We show the three welfare can attain the optimum simultaneously only under\nrestrictive conditions which are challenging to achieve in non-linear settings. The theoretical\nresults imply that existing works solely maximizing the welfare of a subset of parties inevitably\ndiminish the welfare of the others. We thus claim the necessity of balancing the welfare of each\nparty in non-linear settings and propose an irreducible optimization algorithm suitable for general\nstrategic learning. Experiments on synthetic and real data validate the proposed algorithm.\n1 Introduction\nWhen machine learning (ML) models are used to automate decisions about human agents (e.g., in\nlending, hiring, and college admissions), they often have the power to affect agent behavior and\nreshape the population distribution. With the (partial) information of the decision policy, agents can\nchange their data strategically to receive favorable outcomes, e.g., they may exert efforts to genuinely\nimprove their labels or game the ML models by manipulating their features without changing the\nlabels. This phenomenon has motivated an emerging line of work on Strategic Classification (Hardt\net al., 2016), which explicitly takes the agents’ strategic behaviors into account when learning ML\nmodels.\nOne challenge in strategic classification is to model the interactions between agents and the ML\ndecision-maker, as well as understand the impacts they each have on the other. As the inputs\nof the decision system, agents inevitably affect the utility of the decision-maker. Meanwhile, the\ndeployed decisions can further influence agents’ future data and induce societal impacts. Thus, to\nfacilitate socially responsible algorithmic decision-making, we need to consider the welfare of all\n1arXiv:2405.01810v1  [cs.AI]  3 May 2024parties when learning the decision system, including the welfare of the decision-maker, agent, and\nsociety. Specifically, the decision-maker typically cares more about assigning correct labels to agents\nwhen making decisions, while society will be better off if the decision policy can incentivize agents to\nimprove their actual states (labels). For the agents, it is unrealistic to assign each of them a positive\ndecision, but it is reasonable for agents to expect a "just" decision that does not underestimate their\nactual states.\nHowever, most existing works on strategic classification solely consider the welfare of one party. For\nexample, Dong et al. (2018); Braverman and Garg (2020); Jagadeesan et al. (2021); Sundaram et al.\n(2021); Zhang et al. (2022); Eilat et al. (2022) only focus on decision-maker welfare by designing\naccurate classifiers robust to strategic manipulation. Kleinberg and Raghavan (2020); Harris et al.\n(2021); Ahmadi et al. (2022a) solely consider maximizing social welfare by designing an optimal\npolicy to incentivize the maximum improvement of agents. To the best of our knowledge, only a\nfew works consider both decision-maker welfare andsocial welfare (Bechavod et al., 2022; Barsotti\net al., 2022). Among them, Bechavod et al. (2022) initiate a theoretical study to understand the\nrelationship between the two welfare, where they identify a sufficient condition under which the\ndecision-maker welfare andsocial welfare can be optimized at the same time. However, this paper\nstill focuses on incentivizing agent improvement to maximize social welfare .\nMoreover, most prior works limit the scope of analysis to linear settings by assuming both the\nagent labeling function and the ML decision rules are linear (Dong et al., 2018; Chen et al., 2020b;\nAhmadi et al., 2021; Horowitz and Rosenfeld, 2023). This is unrealistic in real applications when\nthe relationship between features and labels is highly intricate and non-linear. Meanwhile, previous\nworks typically modeled strategic behaviors as "(noisy) best responses" to the decision policy (Hardt\net al., 2016; Jagadeesan et al., 2021; Dong et al., 2018; Chen et al., 2020b; Ahmadi et al., 2021;\nHorowitz and Rosenfeld, 2023), which is not practical when the decision policy is highly complex\nand agents’ knowledge about the policy (e.g., a neural network) is far from complete. It turns out\nthat the existing theoretical results and methods proposed under linear settings where agents "best\nrespond" can easily be violated in non-linear settings. Thus, there remain gaps and challenges in\ndeveloping a comprehensive framework for strategic learning under general non-linear settings.\nTo tackle the limitations in prior works, we study the welfare of all parties in strategic learning under\ngeneral non-linear settings where both the ground-truth labeling function and the decision policies\nare complex and possibly non-linear. Importantly, we develop a generalized agent response model\nthat allows agents to respond to policy only based on local information/knowledge they have about\nthe policy. Under the proposed response model, we simultaneously consider: 1) decision-maker\nwelfarethat measures the prediction accuracy of ML policy; 2) social welfare that indicates the level\nof agent improvement; 3) agent welfare that quantifies the extent to which the policy under-estimates\nthe agent qualifications.\nUnder general non-linear settings and the proposed agent response model, we first revisit the\ntheoretical results in Bechavod et al. (2022) and show that those results can easily be violated under\nmore complex settings. We then explore the relationships between the objectives of maximizing\ndecision-maker, social, and agent welfare. The results show that the welfare of different parties can\nonly be aligned under rigorous conditions depending on the ground-truth labeling function, agents’\nknowledge about the decision policy, and the realizability (i.e., whether the hypothesis class of the\ndecision policy includes the ground-truth labeling function). It implies that existing works that\n2solely maximize the welfare of a subset of parties inevitably diminish the welfare of the others. We\nthus propose an algorithm to balance the welfare of all parties.\nThe rest of the paper is organized as follows. After briefly reviewing the related work in Sec. 2, we\nformulate a general strategic learning setting in Sec. 3, where the agent response and the welfare\nof the decision-maker, agent, and society are presented. In Sec. 4, we discuss how the existing\ntheoretical results derived under linear settings are violated under non-linear settings and provide\na comprehensive analysis of the decision-maker/agent/social welfare; we show all the conditions\nwhen they are guaranteed to be compatible in Thm. 4.1. This demonstrates the necessity of an\n"irreducible" optimization framework balancing the welfare of all parties, which we introduce in\nSec. 5. Finally, in Sec. 6, we provide comprehensive experimental results to compare the proposed\nmethod with other benchmark algorithms on both synthetic and real datasets.\n2 Related Work\nNext, we briefly review the related work and discuss the differences with this paper.\n2.1 Strategic Learning\nHardt et al. (2016) was the first to formulate strategic classification as a Stackelberg game where\nthe decision-maker publishes a policy first following which agents best respond. A large line of\nsubsequent research has focused on designing accurate classifiers robust to strategic behaviors. For\nexample, Ben-Porat and Tennenholtz (2017); Chen et al. (2020a); Tang et al. (2021) designed robust\nlinear regression predictors for strategic classification, while Dong et al. (2018) proposed an online\nlearning algorithm for the problem. Levanon and Rosenfeld (2021) designed a protocol for the\ndecision maker to learn agent best response when the decision policy is non-linear, but it assumes\nagents are perfectly aware of the complex classifiers deployed on them. Braverman and Garg (2020);\nJagadeesan et al. (2021) relaxed the assumption that the best responses of agents are deterministic\nand studied how the decision policy is affected by randomness. Sundaram et al. (2021) provided\ntheoretical results on PAC learning under the strategic setting, while Levanon and Rosenfeld (2022);\nHorowitz and Rosenfeld (2023) proposed a new loss function and algorithms for linear strategic\nclassification. Miller et al. (2020); Shavit et al. (2020); Alon et al. (2020) focused on causal strategic\nlearning where features are divided into "causal" and "non-causal" ones. However, all these works\nstudy strategic classification under linear settings and the primary goal is to maximize decision-maker\nwelfare. In contrast, our work considers the welfare of not only the decision-maker but also the agent\nand society. Another line of work related to strategic learning is Performative Prediction (Perdomo\net al., 2020) which is a model to capture general model-dependent distribution shifts. Although this\nframework can model strategic learning settings when the decision policy is strongly convex, it is\nhighly abstract and hard to interpret when considering the welfare of different parties. We refer to\nHardt and Mendler-Dünner (2023) as a comprehensive survey for Performative Prediction .\n2.2 Promote Social Welfare in Strategic Learning\nAlthough the definition of social welfare is sometimes subtle (Florio, 2014), social welfare is often\nregarded as the improvement of ground truth qualifications of agents in strategic learning settings\nand we need to consider how decision rules impact social welfare by shaping agent best response. A\n3rich line of works are proposed to design mechanisms to incentivize agents to improve(Liu et al.,\n2019; Rosenfeld et al., 2020; Shavit et al., 2020; Alon et al., 2020; Zhang et al., 2020; Chen et al.,\n2020a; Kleinberg and Raghavan, 2020; Bechavod et al., 2021; Ahmadi et al., 2022a,b; Raab and Liu,\n2021). The first prominent work was done by Kleinberg and Raghavan (2020), where they studied\nthe conditions under which a linear mechanism exists to incentivize agents to improve their features\ninstead of manipulating them. Specifically, they assume each agent has an effort budget and can\nchoose to invest any amount of effort on either improvement or manipulation, and the mechanism\naims to incentivize agents to invest all available efforts in improvement. Harris et al. (2021) designed\na more advanced stateful mechanism considering the accumulative effects of improvement behaviors.\nThey stated that improvement can accumulate over time and benefit agents in the long term, while\nmanipulation cannot accumulate state to state. On the contrary, Estornell et al. (2021) considered\nusing an audit mechanism to disincentivize manipulation which instead incentivize improvement.\nBesides mechanism design, Rosenfeld et al. (2020) studied incentivizing improvement in machine\nlearning algorithms by adding a look-ahead regularization term to favor improvement. Chen et al.\n(2020a) divided the features into immutable, improvable, and manipulable features and explored\nlinear classifiers that can prevent manipulation and encourage improvement. Jin et al. (2022) also\nfocused on incentivizing improvement and proposed a subsidy mechanism to induce improvement\nactions and improve social well-being metrics. Bechavod et al. (2021) demonstrated the ability\nof strategic decision-makers to distinguish features influencing the label of individuals under an\nonline setting. Ahmadi et al. (2022a) proposed a linear model where strategic manipulation and\nimprovement are both present. Barsotti et al. (2022) conducted several empirical experiments when\nimprovement and manipulation are possible and both actions incur a linear deterministic cost.\nThe works closest to ours are Bechavod et al. (2022); Rosenfeld et al. (2020). Bechavod et al. (2022)\nprovided analytical results of maximizing total improvement without harming anyone’s current\nqualification, but they assumed both the ground truth and the decision rule are linear. Rosenfeld\net al. (2020) aimed to maximize accuracy while punishing the classifier only if it brings the negative\nexternality in non-linear settings. However, solely punishing negative externality is far from ideal.\nOur work goes further by analyzing the relationships between the welfare of different parties and\nproviding an optimization algorithm to balance the welfare.\n2.3 Welfare-Aware Machine Learning\nThe early work on welfare-aware machine learning typically considers balancing social welfare and\nanother competing objective such as fairness or profit. For example, Ensign et al. (2018) focused\non long-term social welfare when myopically maximizing efficiency in criminal inspection practice\ncreates a runaway feedback loop. Liu et al. (2020); Zhang et al. (2020); Guldogan et al. (2022)\nshowed that instant fairness constraints may harm social welfare in the long run since the agent\npopulation may react to the classifier unexpectedly. Rolf et al. (2020) proposed a framework to\nanalyze the Pareto-optimal policy balancing the prediction profit and a possibly competing welfare\nmetric, but it assumed a simplified setting where the welfare of admitting any agent is constant,\nwhich is not the case in strategic learning.\n43 Problem Formulation\nConsider a population of strategic agents with features X= (X1, ..., X d),dom(X)⊂Rd, and label\nY∈ {0,1}that indicates agent qualification for certain tasks (with “0" being unqualified and “1"\nqualified). Denote PXas the probability density function of X, and assume labeling function\nh(x) :=P(Y= 1|X=x)is continuous. The agents are subject to certain algorithmic decisions\nD(x) :Rd→ {0,1}(with “1" being positive and “0" negative), which are made by a decision-maker\nusing a scoring function f(x) :=P(D(x) = 1|X=x). Unlike many studies in strategic classification\nthat assume f∈ Fis a linear function, we allow Fto be non-linear. Moreover, it is possible that\nhypothesis class Fdoes not include h.\n3.1 Information level and generalized agent response\nWe consider practical settings where the decisions deployed on agents have downstream effects and\ncan reshape the agent’s future data. We assume agents are honest so that their future labels also\nchange accordingly based on the fixed labeling function h(x). Given a function f, we define agent\nbest response to fadhering to previous works on strategic learning (Hardt et al., 2016; Dong et al.,\n2018; Ahmadi et al., 2021) as follows.\nDefinition 3.1 (Agent best response to a function) .Assume an agent with feature xwill incur cost\nc(x, x′)by moving her feature from xtox′. Then we say the agent best responds to function fif\nshe changes her features from xtox∗= arg max x′{f(x′)−c(x, x′)}.\nIt is worth noting that most existing works in strategic learning assume agents either best respond\nto the exact f(e.g., Hardt et al. (2016); Horowitz and Rosenfeld (2023); Dong et al. (2018); Ahmadi\net al. (2021)) or noisy fwith additive noise (e.g., Levanon and Rosenfeld (2022); Jagadeesan et al.\n(2021)). However, the best response model in Def. 3.1 requires the agents to know the exact values\noff(x′)for all x′in the feature domain, which is a rather strong requirement and unlikely holds in\npractice, especially when policy f∈ Fis complex (e.g., logistic regression/neural networks). Instead,\nit may be more reasonable to assume agents only have "local information" about the policy f, i.e.,\nagents with features xonly have some information about fatxand they know how to improve their\nqualifications based on their current standings (Zhang et al., 2022; Raab and Liu, 2021). To formalize\nthis, we define the agent’s information level and the resulting agent response in Def. 3.2.\nDefinition 3.2 (Information level and agent response) .Agents with features xandinforma-\ntion level Kknow the gradient of fatx= [x1, ..., x d]up to the Kthorder (the agents know\n{∇f(x),∇2f(x), ...,∇Kf(x)}if all these gradients exist). Let Qf\nxbe the Taylor expansion of fatx\nup to the Kthorder, i.e.,\nQf\nx(x′) =f(x) +dX\ni=1∂f\n∂xi(x)(x′\ni−xi) +1\n2!dX\ni=1dX\nj=1∂2f\n∂xi∂xj(x)(x′\ni−xi)(x′\nj−xj) +···(1)\n+1\nK!dX\ni1=1···dX\niK=1∂Kf\n∂xi1···∂xiK(x)(x′\ni1−xi1)···(x′\niK−xiK)\nWhen fis only k < Ktimes differentiable, Qf\nxsimply uses all existing gradient information. Then\nthe agents with information level Kwill respond to fby first estimating fusing Qf\nx, and then best\nresponding to Qf\nx.\n5Def. 3.2 specifies the information level of agents and how they respond to the decision policy using\nall the information available at the locality. A lower level of Kis more interpretable in practice. For\nexample, agents with information level K= 1use the first-order gradient of fto calculate a linear\napproximation, which means they only know the most effective direction to improve their current\nfeature values. In contrast, agents with information level K= 2also know how this effective direction\nto improve will change (i.e., the second-order gradient that reveals the curvature of f).\nIt is worth noting that the agent response under K= 1is also similar to Rosenfeld et al. (2020)\nwhere agents respond to the decision policy by moving toward the direction of the local first-order\ngradient, and Dean et al. (2023) where the agents aim to reduce their risk based on the available\ninformation at the current state. Moreover, Def. 3.2 can also be regarded as a generalization of the\nprevious models where agents best respond to the exact decision policy under the linear setting.\nTo illustrate this, assume the agents have an information level K≥1and the linear policy is\nf(x) =βTx, then they will estimate fusing Qf\nx(x′) =f(x) +∇f(x)·(x′−x) =βTx′, which is the\nsame as f. However, for complex f, agents with information level Kmay no longer best respond to\nf. Prop. 3.3 illustrates the necessary and sufficient conditions for an agent to best respond.\nProposition 3.3. An agent with information level Kcan best respond to fif and only if fis a\npolynomial with an order smaller than or equal to K.\nProp. 3.3 shows that agents with only local information of policy can only best respond to f\nthat is polynomial in feature vector X. In practical applications, foften does not belong to the\npolynomial function class (e.g., a neural network with Sigmoid activation may have infinite order\ngradients, and the one with Reluactivation may be a piece-wise function), making it unlikely for\nagents to best respond to f. Note that although Def. 3.2 specifies the agents to best respond to Qf\nx\nwhich is an approximation of actual policy fusing the "local information" at x, we also present a\nprotocol in Alg. 2 to learn a more general response function x∗= ∆ ϕ(x, Ik(f, x))from population\ndynamics where ϕare learnable parameters and Ik(f, x)is all information available for agents with\nin

In [14]:
import nltk
from nltk.tokenize import word_tokenize
len(word_tokenize(text))

7660

In [36]:
import google.generativeai as genai
import os
GOOGLE_API_KEY=os.environ.get('GOOGLE_API_KEY')
genai.configure(api_key=GOOGLE_API_KEY)
model = genai.GenerativeModel('gemini-pro')


response = model.generate_content(f"summerize the following: {text}")
print(response.text)

This paper presents a comprehensive analysis of the relationships between the welfare of the decision-maker, agent, and society in non-linear strategic learning settings. The authors extend the agent response model to allow agents to respond strategically based on local information and knowledge about the decision policy. They analyze the compatibility of different welfare objectives under general non-linear settings and provide a general optimization framework for balancing the welfare of all parties. This work provides new insights into the challenges and opportunities in designing welfare-aware machine learning algorithms for strategic learning settings.

In [ ]:
import pandas as pd
from nltk.tokenize import word_tokenize
import os
import nltk

# nltk.download('punkt')
path="/Users/matansharon/python/opensource_rag/נתוני חברים פברואר - אפריל 2024.xlsx"
df=pd.read_excel(path,sheet_name='גיליון3')
# print(df.to_string())
print("length of tokens of sheet 3: ",len(word_tokenize(df.to_string()))*1.3)

length of tokens of sheet 3:  3730

In [16]:
import anthropic
client=anthropic.Anthropic(
    api_key=os.environ.get("ANTHROPIC_API_KEY"))
message = client.messages.create(
        # model="claude-3-opus-20240229",
        model='claude-3-haiku-20240307',
        max_tokens=4000,
        temperature=0.2,
        system=f"""
        You are a data analyst assistant.
        your given a dataframe that was converted into string with salaries of employees,
        return the head of the dataframe.
        
        """,
        messages=[
            {"role": "user", "content": df.to_string()}
        ]
    )