In [ ]:
# #legacy code from the original chatbot

# def get_chatGPT_response(query: str, context: List[str]) -> str:
#     """
#     Queries the GPT API to get a response to the question.

#     Args:
#     query (str): The original query.
#     context (List[str]): The context of the query, returned by embedding search.

#     Returns:
#     A response to the question.
#     """
#     response = openai.chat.completions.create(
#         model="gpt-3.5-turbo",
#         messages=build_prompt(query, context),
#     )

#     return response.choices[0].message.content  # type: ignore


# def build_prompt(query: str, context: List[str]) -> List[ChatCompletionMessageParam]:
#     """
#     Builds a prompt for the LLM. #

#     This function builds a prompt for the LLM. It takes the original query,
#     and the returned context, and asks the model to answer the question based only
#     on what's in the context, not what's in its weights.

#     More information: https://platform.openai.com/docs/guides/chat/introduction

#     Args:
#     query (str): The original query.
#     context (List[str]): The context of the query, returned by embedding search.

#     Returns:
#     A prompt for the LLM (List[ChatCompletionMessageParam]).
#     """

#     system: ChatCompletionMessageParam = {
#         "role": "system",
#         "content": "I am going to ask you a question, which I would like you to answer"
#         "based only on the provided context, and not any other information."
#         "If there is not enough information in the context to answer the question,"
#         'say "I am not sure", then try to make a guess.'
#         "Break your answer up into nicely readable paragraphs.",
#     }
#     user: ChatCompletionMessageParam = {
#         "role": "user",
#         "content": f"The question is {query}. Here is all the context you have:"
#         f'{(" ").join(context)}',
#     }

#     return [system, user]

In [ ]:
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')

In [ ]:
for text in llm("AI is going to", stream=True):
    print(text, end="", flush=True)

# results on the cpu using ctransformers
### - 27.4 seconds
### output:
<p>
have an enormous impact on the future of the industry.
This year, AI was all over the show floor and there are a number of companies that are using AI in their products. Here's a quick look at some of them:
Fulcrum is an automated, artificial intelligence-powered software solution that helps manufacturers improve productivity and efficiency by automating processes, removing errors, and freeing up employees to focus on more complex tasks.
Kapil Khera, co-founder and CEO of Fulcrum, told Inman: "I don't know a single company that doesn't have AI in their product. I think it's the most important thing to come out of 2018."
The company is currently working on machine learning tools and workflow applications with machine intelligence technology so you can really begin building these powerful AI-powered solutions. The full AI-focused ecosystem, with automation in product design and sophisticated analytics, will be available to all customers by the end of 2018.
Kapil Khera, co-founder and CEO of Fulcrum
Surely
</p>

In [ ]:
from transformers import AutoModelForCausalLM, AutoTokenizer, pipeline

model_name_or_path = "TheBloke/TinyLlama-1.1B-Chat-v1.0-GPTQ"
# To use a different branch, change revision
# For example: revision="gptq-4bit-32g-actorder_True"
model = AutoModelForCausalLM.from_pretrained(model_name_or_path,
                                             device_map="auto",
                                             trust_remote_code=False,
                                             revision="main")

tokenizer = AutoTokenizer.from_pretrained(model_name_or_path, use_fast=True)

In [ ]:

def get_response_tiny_llama(text):
    path='/teamspace/studios/this_studio/TinyLlama-1.1B-Chat-v1.0-GPTQ'
    model = AutoModelForCausalLM.from_pretrained(model_name_or_path,
                                             device_map="auto",
                                             trust_remote_code=False,
                                             revision="main")

    tokenizer = AutoTokenizer.from_pretrained(model_name_or_path, use_fast=True)
    prompt = text
    system_message = "You are a story writing assistant"
    prompt_template=f'''<|system|>
    {system_message}</s>
    <|user|>
    {prompt}</s>
    <|assistant|>
    '''

    print("\n\n*** Generate:")

    input_ids = tokenizer(prompt_template, return_tensors='pt').input_ids.cuda()
    output = model.generate(inputs=input_ids, temperature=0.7, do_sample=True, top_p=0.95, top_k=40, max_new_tokens=512)
    return(tokenizer.decode(output[0]))

In [ ]:
print(get_response_tiny_llama("what is qlora?"))

# result on gpu 2.8 seconds

# handling the embedding model

In [ ]:
from sentence_transformers import SentenceTransformer
sentences = ["This is an example sentence", "Each sentence is converted"]

model = SentenceTransformer('sentence-transformers/all-MiniLM-L12-v2')
embeddings = model.encode(sentences)
print(embeddings)

In [ ]:
def convert_from_pdf_to_text(file_path):
    import PyPDF2

    read_pdf = PyPDF2.PdfReader(file_path)
    pages = read_pdf.pages
    res=''
    for page in pages:
        res+=page.extract_text()
    return res
pages=convert_from_pdf_to_text('/Users/matansharon/python/opensource_rag/pdf_files/A semantic loss for ontology classification.pdf')

import os
pdf_list=os.listdir("/Users/matansharon/python/opensource_rag/pdf_files")
text_list=os.listdir("/Users/matansharon/python/opensource_rag/text_files")

for pdf in pdf_list:
    temp=pdf.replace(".pdf",".txt")
    if temp not in text_list:
        text=convert_from_pdf_to_text("pdf_files/"+pdf)
        with open("text_files/"+temp, 'w') as f:
            f.write(text)

In [ ]:
def convert_from_pdf_to_text(file_path):
    import PyPDF2

    read_pdf = PyPDF2.PdfReader(file_path)
    pages = read_pdf.pages
    res=''
    for page in pages:
        res+=page.extract_text()
    return res
pages=convert_from_pdf_to_text('/Users/matansharon/python/opensource_rag/pdf_files/A semantic loss for ontology classification.pdf')

In [ ]:
import chromadb
client=chromadb.Client()
import os
import chromadb.utils.embedding_functions as embedding_functions
huggingface_ef = embedding_functions.HuggingFaceEmbeddingFunction(
    api_key=os.environ.get("HuggingFace_API_KEY"),
    model_name="sentence-transformers/all-MiniLM-L6-v2"
)

collection=client.get_or_create_collection('test',embedding_function=huggingface_ef)

In [ ]:
import chromadb
persist_directory = "chroma_storage"
client = chromadb.PersistentClient(path=persist_directory)
collection=client.get_collection("file1_collection")
print(collection.get().keys())

In [ ]:
results

In [ ]:
results = collection.query(
            query_texts=["summerize the Component Separation method for CMB using Convolutional Neural Networks document"], n_results=5, include=["documents", "metadatas","distances"])
print(results)
for i in range(len(results['distances'][0])):
    if (abs(results['distances'][0][i]-1)<0.4):
        print(results['distances'][0][i])
        print(results['documents'][0][i][:100])
        print(results['metadatas'][0][i])
        print("-"*100)

In [ ]:
#this cell is a testing cell for filtering the results of the query by the distance

temp_results={"ids":[[]],"distances":[[]],"metadatas":[[]],"documents":[[]]}
        for i in range(5):
            if abs(1-results["distances"][0][i]<0.4): 
                temp_results["ids"][0].append(results["ids"][0][i])
                temp_results["distances"][0].append(results["distances"][0][i])
                temp_results["metadatas"][0].append(results["metadatas"][0][i])
                temp_results["documents"].append(results["documents"][0][i])
        results=temp_results

In [ ]:
all_file_names=set()
for line in collection.get()['metadatas']:
    all_file_names.add(line['filename'])
all_file_names

In [ ]:
for doc in collection.get()['documents']:
    print(len(doc))

In [ ]:
import PyPDF2
pages=PyPDF2.PdfReader("/Users/matansharon/python/opensource_rag/pdf_files/qlora.pdf").pages

In [ ]:
# from nltk.tokenize import word_tokenize
# for page in pages:
#     print(len(word_tokenize(page.extract_text())))

In [ ]:
import pandas as pd
from nltk.tokenize import word_tokenize
df=pd.read_csv("salaries.csv")

df_str=df.to_string().strip()
len(word_tokenize(df_str))
with open("salaries2.txt", 'w') as f:
    f.write(df_str)

In [ ]:
all_rows=(df_str.split("\n"))
col_rows_names=all_rows[0]
# print(col_rows_names.strip())
for line in all_rows:
    print((line))

In [ ]:
import anthropic
import os
from dotenv import load_dotenv
load_dotenv()

client=anthropic.Anthropic(
        api_key=os.environ.get("ANTHROPIC_API_KEY")
    )
message = client.messages.create(
        # model="claude-3-opus-20240229",
        model='claude-3-haiku-20240307',
        max_tokens=4000,
        temperature=0.2  ,
        system=f"""
        You are a data analyst assistant.
        your given a dataframe that was converted into string with salaries of employees,
        return the head of the dataframe.
        
        """,
        messages=[
            {"role": "user", "content": df_str}
        ]
    )
print(message.usage)
print( message.content[0].text)

In [ ]:
message

In [ ]:
class Message():
    def __init__(self):
        self.content=''
        self.type=''
    def get_content(self):
        return self.content
    def get_type(self):
        return self.type

In [ ]:
import matplotlib.pyplot as plt

# Assuming the dataframe is named 'df'
plt.figure(figsize=(12, 6))
plt.hist(df1000['salary'], bins=20)
plt.xlabel('Salary')
plt.ylabel('Frequency')
plt.title('Salary Distribution')
plt.show()

In [113]:
import nltk
from nltk.tokenize import word_tokenize
import pandas as pd
# nltk.download('punkt')

files=os.listdir("/Users/matansharon/python/opensource_rag/documents")
files
for file in files:
    if file.endswith(".pdf"):
        print(file)
        pages=convert_from_pdf_to_text("/Users/matansharon/python/opensource_rag/documents/"+file)
        print(len(word_tokenize(pages)))
    elif file.endswith(".csv"):
        df=pd.read_csv("/Users/matansharon/python/opensource_rag/documents/"+file)
        df_str=df.to_string().strip()
        print(df_str)
        # print(len(word_tokenize(df_str)))

work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
0         2024               MI              FT                          Data Scientist   120000             USD         120000                 AU             0               AU            S
1         2024               MI              FT                          Data Scientist    70000             USD          70000                 AU             0               AU            S
2         2024               MI              CT                          Data Scientist   130000             USD         130000                 US             0               US            M
3         2024               MI              CT                          Data Scientist   110000             USD         110000                 US             0               US            M
4         2024               MI              FT                    Data Science Manager   240000             USD         240000                 US             0               US            M
5         2024               MI              FT                    Data Science Manager   180000             USD         180000                 US             0               US            M
6         2024               SE              FT          Business Intelligence Engineer   202800             USD         202800                 US             0               US            M
7         2024               SE              FT          Business Intelligence Engineer   115000             USD         115000                 US             0               US            M
8         2024               SE              FT                          Data Architect    80000             GBP         100000                 GB             0               GB            M
9         2024               SE              FT                          Data Architect    45000             GBP          56250                 GB             0               GB            M
10        2024               SE              FT                            Data Analyst    90000             CAD          69230                 CA             0               CA            M
11        2024               SE              FT                            Data Analyst    75000             CAD          57692                 CA             0               CA            M
12        2024               MI              FT                            Data Analyst   112300             USD         112300                 US             0               US            M
13        2024               MI              FT                            Data Analyst    75100             USD          75100                 US             0               US            M
14        2024               MI              FT                   Business Intelligence   178200             USD         178200                 US             0               US            M
15        2024               MI              FT                   Business Intelligence    87000             USD          87000                 US             0               US            M
16        2024               SE              FT                          Data Scientist   138000             USD         138000                 CA             0               CA            M
17        2024               SE              FT                          Data Scientist    72000             USD          72000                 CA             0               CA            M
18        2024               MI              FT                             ML Engineer   252000             USD         252000                 US             0               US            M
19        2024               MI              FT                             ML Engineer   168000             USD         168000                 US             0               US            M
20        2024               SE              FT                            Data Modeler   140000             USD         140000                 US           100               US            M
21        2024               SE              FT                            Data Modeler   130000             USD         130000                 US           100               US            M
22        2024               SE              FT               Machine Learning Engineer   190000             USD         190000                 US             0               US            M
23        2024               SE              FT               Machine Learning Engineer   100000             USD         100000                 US             0               US            M
24        2024               MI              FT                          Data Scientist   150650             USD         150650                 US             0               US            M
25        2024               MI              FT                          Data Scientist   106700             USD         106700                 US             0               US            M
26        2024               SE              FT                          Data Scientist   192300             USD         192300                 US             0               US            M
27        2024               SE              FT                          Data Scientist   107900             USD         107900                 US             0               US            M
28        2024               MI              FT             Data Integration Specialist   115000             USD         115000                 US           100               US            M
29        2024               MI              FT             Data Integration Specialist    95500             USD          95500                 US           100               US            M
30        2024               MI              FT                      Research Scientist   195000             USD         195000                 US           100               US            M
31        2024               MI              FT                      Research Scientist   160000             USD         160000                 US           100               US            M
32        2024               SE              FT                          Data Scientist   257600             USD         257600                 US             0               US            M
33        2024               SE              FT                          Data Scientist   146000             USD         146000                 US             0               US            M
34        2024               EN              FT                            Data Analyst    90000             USD          90000                 CA             0               CA            M
35        2024               EN              FT                            Data Analyst    70000             USD          70000                 CA             0               CA            M
36        2024               SE              FT               Machine Learning Engineer   110000             EUR         122222                 NL           100               NL            S
37        2024               SE              FT               Machine Learning Engineer    70000             EUR          77777                 NL           100               NL            S
38        2024               SE              FT                           Data Engineer   158200             USD         158200                 US             0               US            M
39        2024               SE              FT                           Data Engineer    74100             USD          74100                 US             0               US            M
40        2024               SE              FT                           Data Engineer   231400             USD         231400                 US             0               US            M
41        2024               SE              FT                           Data Engineer   170955             USD         170955                 US             0               US            M
42        2024               MI              FT                           Data Engineer   137000             USD         137000                 US             0               US            M
43        2024               MI              FT                           Data Engineer    60300             USD          60300                 US             0               US            M
44        2024               MI              FT                            Data Analyst   101098             USD         101098                 US             0               US            M
45        2024               MI              FT                            Data Analyst    59469             USD          59469                 US             0               US            M
46        2024               MI              FT                    Data Product Manager   166363             USD         166363                 US             0               US            M
47        2024               MI              FT                    Data Product Manager   103977             USD         103977                 US             0               US            M
48        2024               SE              FT                            Data Manager   166000             USD         166000                 US             0               US            M
49        2024               SE              FT                            Data Manager   104000             USD         104000                 US             0               US            M
50        2024               SE              FT                      Research Scientist   170400             USD         170400                 US             0               US            M
51        2024               SE              FT                      Research Scientist   123800             USD         123800                 US             0               US            M
52        2024               MI              FT           Data Visualization Specialist    94763             USD          94763                 US           100               US            M
53        2024               MI              FT           Data Visualization Specialist    67750             USD          67750                 US           100               US            M
54        2024               SE              FT               Machine Learning Engineer   251250             USD         251250                 US             0               US            M
55        2024               SE              FT               Machine Learning Engineer   120750             USD         120750                 US             0               US            M
56        2024               MI              FT                            Data Analyst    30000             EUR          33333                 LT             0               LT            M
57        2024               MI              FT                            Data Analyst    25800             EUR          28666                 LT             0               LT            M
58        2024               SE              FT                          Data Scientist   189615             USD         189615                 US             0               US            M
59        2024               SE              FT                          Data Scientist   150385             USD         150385                 US             0               US            M
60        2024               SE              FT                            Data Science   283800             USD         283800                 US             0               US            M
61        2024               SE              FT                            Data Science   234700             USD         234700                 US             0               US            M
62        2024               MI              FT                          Data Scientist   109000             USD         109000                 US           100               US            M
63        2024               MI              FT                          Data Scientist    93000             USD          93000                 US           100               US            M
64        2024               MI              FT                          Data Scientist   164000             USD         164000                 US             0               US            M
65        2024               MI              FT                          Data Scientist   131000             USD         131000                 US             0               US            M
66        2024               MI              FT                         Data Specialist    45607             GBP          57008                 GB             0               GB            M
67        2024               MI              FT                         Data Specialist    30921             GBP          38651                 GB             0               GB            M
68        2024               MI              FT                            Data Analyst    55000             GBP          68750                 GB           100               GB            M
69        2024               MI              FT                            Data Analyst    45000             GBP          56250                 GB           100               GB            M
70        2024               SE              FT              Business Intelligence Lead   144300             USD         144300                 US             0               US            M
71        2024               SE              FT              Business Intelligence Lead   104800             USD         104800                 US             0               US            M
72        2024               SE              FT                           Data Engineer   212750             USD         212750                 US             0               US            M
73        2024               SE              FT                           Data Engineer   157250             USD         157250                 US             0               US            M
74        2024               EN              FT                            Data Analyst   150000             USD         150000                 US           100               US            M
75        2024               EN              FT                            Data Analyst   129200             USD         129200                 US           100               US            M
76        2024               SE              FT               Machine Learning Engineer   265000             USD         265000                 US             0               US            M
77        2024               SE              FT               Machine Learning Engineer   170000             USD         170000                 US             0               US            M
78        2024               SE              FT                          Data Scientist   190000             USD         190000                 US           100               US            M
79        2024               SE              FT                          Data Scientist   155000             USD         155000                 US           100               US            M
80        2024               SE              FT                           Data Engineer   165000             USD         165000                 US           100               US            M
81        2024               SE              FT                           Data Engineer   100000             USD         100000                 US           100               US            M
82        2024               MI              FT                           Data Engineer   213900             USD         213900                 US           100               US            M
83        2024               MI              FT                           Data Engineer   126500             USD         126500                 US           100               US            M
84        2024               SE              FT                        Research Analyst   130000             USD         130000                 US             0               US            M
85        2024               SE              FT                        Research Analyst   104000             USD         104000                 US             0               US            M
86        2024               SE              FT               Machine Learning Engineer   225000             USD         225000                 US           100               US            M
87        2024               SE              FT               Machine Learning Engineer    66000             USD          66000                 US           100               US            M
88        2024               SE              FT                             ML Engineer   220000             USD         220000                 US             0               US            M
89        2024               MI              FT           Business Intelligence Analyst   110000             USD         110000                 US             0               US            M
90        2024               MI              FT           Business Intelligence Analyst    85000             USD          85000                 US             0               US            M
91        2024               SE              FT               Machine Learning Engineer   282000             USD         282000                 US           100               US            M
92        2024               SE              FT               Machine Learning Engineer   188000             USD         188000                 US           100               US            M
93        2024               EX              FT                            Data Science   219650             USD         219650                 US           100               US            M
94        2024               EX              FT                            Data Science   136000             USD         136000                 US           100               US            M
95        2024               SE              FT                            Data Science   210850             USD         210850                 US             0               US            M
96        2024               SE              FT                            Data Science   145400             USD         145400                 US             0               US            M
97        2024               MI              FT                            Data Analyst   143800             USD         143800                 US           100               US            M
98        2024               MI              FT                            Data Analyst   106300             USD         106300                 US           100               US            M
99        2024               MI              FT                             AI Engineer   150000             USD         150000                 US           100               US            M
100       2024               MI              FT                             AI Engineer    90200             USD          90200                 US           100               US            M
101       2024               MI              FT                           Data Engineer   140000             USD         140000                 US             0               US            M
102       2024               MI              FT                           Data Engineer   110000             USD         110000                 US             0               US            M

In [141]:
def read_and_convert_csv(file_path: str) -> str:
    df=pd.read_csv(file_path)
    # Convert the dataframe to a string
    df=df.to_string().strip()
    column_row=df.split("\n")[0]
    #split the string into a list of strings
    rows=df.split("\n")
    pages=[]
    page=[]
    for i in range(1,len(rows),10):
        page.append(column_row)
        for j in range(i,i+10):
            if j<len(rows):
            
                page.append(rows[j])
        pages.append(page)
        page=[]
    return pages
res=read_and_convert_csv("/Users/matansharon/python/opensource_rag/documents/salaries.csv")
for page in res:
    for row in page:
        print(row)

work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
0         2024               MI              FT                          Data Scientist   120000             USD         120000                 AU             0               AU            S
1         2024               MI              FT                          Data Scientist    70000             USD          70000                 AU             0               AU            S
2         2024               MI              CT                          Data Scientist   130000             USD         130000                 US             0               US            M
3         2024               MI              CT                          Data Scientist   110000             USD         110000                 US             0               US            M
4         2024               MI              FT                    Data Science Manager   240000             USD         240000                 US             0               US            M
5         2024               MI              FT                    Data Science Manager   180000             USD         180000                 US             0               US            M
6         2024               SE              FT          Business Intelligence Engineer   202800             USD         202800                 US             0               US            M
7         2024               SE              FT          Business Intelligence Engineer   115000             USD         115000                 US             0               US            M
8         2024               SE              FT                          Data Architect    80000             GBP         100000                 GB             0               GB            M
9         2024               SE              FT                          Data Architect    45000             GBP          56250                 GB             0               GB            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
10        2024               SE              FT                            Data Analyst    90000             CAD          69230                 CA             0               CA            M
11        2024               SE              FT                            Data Analyst    75000             CAD          57692                 CA             0               CA            M
12        2024               MI              FT                            Data Analyst   112300             USD         112300                 US             0               US            M
13        2024               MI              FT                            Data Analyst    75100             USD          75100                 US             0               US            M
14        2024               MI              FT                   Business Intelligence   178200             USD         178200                 US             0               US            M
15        2024               MI              FT                   Business Intelligence    87000             USD          87000                 US             0               US            M
16        2024               SE              FT                          Data Scientist   138000             USD         138000                 CA             0               CA            M
17        2024               SE              FT                          Data Scientist    72000             USD          72000                 CA             0               CA            M
18        2024               MI              FT                             ML Engineer   252000             USD         252000                 US             0               US            M
19        2024               MI              FT                             ML Engineer   168000             USD         168000                 US             0               US            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
20        2024               SE              FT                            Data Modeler   140000             USD         140000                 US           100               US            M
21        2024               SE              FT                            Data Modeler   130000             USD         130000                 US           100               US            M
22        2024               SE              FT               Machine Learning Engineer   190000             USD         190000                 US             0               US            M
23        2024               SE              FT               Machine Learning Engineer   100000             USD         100000                 US             0               US            M
24        2024               MI              FT                          Data Scientist   150650             USD         150650                 US             0               US            M
25        2024               MI              FT                          Data Scientist   106700             USD         106700                 US             0               US            M
26        2024               SE              FT                          Data Scientist   192300             USD         192300                 US             0               US            M
27        2024               SE              FT                          Data Scientist   107900             USD         107900                 US             0               US            M
28        2024               MI              FT             Data Integration Specialist   115000             USD         115000                 US           100               US            M
29        2024               MI              FT             Data Integration Specialist    95500             USD          95500                 US           100               US            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
30        2024               MI              FT                      Research Scientist   195000             USD         195000                 US           100               US            M
31        2024               MI              FT                      Research Scientist   160000             USD         160000                 US           100               US            M
32        2024               SE              FT                          Data Scientist   257600             USD         257600                 US             0               US            M
33        2024               SE              FT                          Data Scientist   146000             USD         146000                 US             0               US            M
34        2024               EN              FT                            Data Analyst    90000             USD          90000                 CA             0               CA            M
35        2024               EN              FT                            Data Analyst    70000             USD          70000                 CA             0               CA            M
36        2024               SE              FT               Machine Learning Engineer   110000             EUR         122222                 NL           100               NL            S
37        2024               SE              FT               Machine Learning Engineer    70000             EUR          77777                 NL           100               NL            S
38        2024               SE              FT                           Data Engineer   158200             USD         158200                 US             0               US            M
39        2024               SE              FT                           Data Engineer    74100             USD          74100                 US             0               US            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
40        2024               SE              FT                           Data Engineer   231400             USD         231400                 US             0               US            M
41        2024               SE              FT                           Data Engineer   170955             USD         170955                 US             0               US            M
42        2024               MI              FT                           Data Engineer   137000             USD         137000                 US             0               US            M
43        2024               MI              FT                           Data Engineer    60300             USD          60300                 US             0               US            M
44        2024               MI              FT                            Data Analyst   101098             USD         101098                 US             0               US            M
45        2024               MI              FT                            Data Analyst    59469             USD          59469                 US             0               US            M
46        2024               MI              FT                    Data Product Manager   166363             USD         166363                 US             0               US            M
47        2024               MI              FT                    Data Product Manager   103977             USD         103977                 US             0               US            M
48        2024               SE              FT                            Data Manager   166000             USD         166000                 US             0               US            M
49        2024               SE              FT                            Data Manager   104000             USD         104000                 US             0               US            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
50        2024               SE              FT                      Research Scientist   170400             USD         170400                 US             0               US            M
51        2024               SE              FT                      Research Scientist   123800             USD         123800                 US             0               US            M
52        2024               MI              FT           Data Visualization Specialist    94763             USD          94763                 US           100               US            M
53        2024               MI              FT           Data Visualization Specialist    67750             USD          67750                 US           100               US            M
54        2024               SE              FT               Machine Learning Engineer   251250             USD         251250                 US             0               US            M
55        2024               SE              FT               Machine Learning Engineer   120750             USD         120750                 US             0               US            M
56        2024               MI              FT                            Data Analyst    30000             EUR          33333                 LT             0               LT            M
57        2024               MI              FT                            Data Analyst    25800             EUR          28666                 LT             0               LT            M
58        2024               SE              FT                          Data Scientist   189615             USD         189615                 US             0               US            M
59        2024               SE              FT                          Data Scientist   150385             USD         150385                 US             0               US            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
60        2024               SE              FT                            Data Science   283800             USD         283800                 US             0               US            M
61        2024               SE              FT                            Data Science   234700             USD         234700                 US             0               US            M
62        2024               MI              FT                          Data Scientist   109000             USD         109000                 US           100               US            M
63        2024               MI              FT                          Data Scientist    93000             USD          93000                 US           100               US            M
64        2024               MI              FT                          Data Scientist   164000             USD         164000                 US             0               US            M
65        2024               MI              FT                          Data Scientist   131000             USD         131000                 US             0               US            M
66        2024               MI              FT                         Data Specialist    45607             GBP          57008                 GB             0               GB            M
67        2024               MI              FT                         Data Specialist    30921             GBP          38651                 GB             0               GB            M
68        2024               MI              FT                            Data Analyst    55000             GBP          68750                 GB           100               GB            M
69        2024               MI              FT                            Data Analyst    45000             GBP          56250                 GB           100               GB            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
70        2024               SE              FT              Business Intelligence Lead   144300             USD         144300                 US             0               US            M
71        2024               SE              FT              Business Intelligence Lead   104800             USD         104800                 US             0               US            M
72        2024               SE              FT                           Data Engineer   212750             USD         212750                 US             0               US            M
73        2024               SE              FT                           Data Engineer   157250             USD         157250                 US             0               US            M
74        2024               EN              FT                            Data Analyst   150000             USD         150000                 US           100               US            M
75        2024               EN              FT                            Data Analyst   129200             USD         129200                 US           100               US            M
76        2024               SE              FT               Machine Learning Engineer   265000             USD         265000                 US             0               US            M
77        2024               SE              FT               Machine Learning Engineer   170000             USD         170000                 US             0               US            M
78        2024               SE              FT                          Data Scientist   190000             USD         190000                 US           100               US            M
79        2024               SE              FT                          Data Scientist   155000             USD         155000                 US           100               US            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
80        2024               SE              FT                           Data Engineer   165000             USD         165000                 US           100               US            M
81        2024               SE              FT                           Data Engineer   100000             USD         100000                 US           100               US            M
82        2024               MI              FT                           Data Engineer   213900             USD         213900                 US           100               US            M
83        2024               MI              FT                           Data Engineer   126500             USD         126500                 US           100               US            M
84        2024               SE              FT                        Research Analyst   130000             USD         130000                 US             0               US            M
85        2024               SE              FT                        Research Analyst   104000             USD         104000                 US             0               US            M
86        2024               SE              FT               Machine Learning Engineer   225000             USD         225000                 US           100               US            M
87        2024               SE              FT               Machine Learning Engineer    66000             USD          66000                 US           100               US            M
88        2024               SE              FT                             ML Engineer   220000             USD         220000                 US             0               US            M
89        2024               MI              FT           Business Intelligence Analyst   110000             USD         110000                 US             0               US            M
work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
90        2024               MI              FT           Business Intelligence Analyst    85000             USD          85000                 US             0               US            M
91        2024               SE              FT               Machine Learning Engineer   282000             USD         282000                 US           100               US            M
92        2024               SE              FT               Machine Learning Engineer   188000             USD         188000                 US           100               US            M
93        2024               EX              FT                            Data Science   219650             USD         219650                 US           100               US            M

In [114]:
splited=df_str.split('\n')
for row in splited:
    print(row)

work_year experience_level employment_type                               job_title   salary salary_currency  salary_in_usd employee_residence  remote_ratio company_location company_size
0         2024               MI              FT                          Data Scientist   120000             USD         120000                 AU             0               AU            S
1         2024               MI              FT                          Data Scientist    70000             USD          70000                 AU             0               AU            S
2         2024               MI              CT                          Data Scientist   130000             USD         130000                 US             0               US            M
3         2024               MI              CT                          Data Scientist   110000             USD         110000                 US             0               US            M
4         2024               MI              FT                    Data Science Manager   240000             USD         240000                 US             0               US            M
5         2024               MI              FT                    Data Science Manager   180000             USD         180000                 US             0               US            M
6         2024               SE              FT          Business Intelligence Engineer   202800             USD         202800                 US             0               US            M
7         2024               SE              FT          Business Intelligence Engineer   115000             USD         115000                 US             0               US            M
8         2024               SE              FT                          Data Architect    80000             GBP         100000                 GB             0               GB            M
9         2024               SE              FT                          Data Architect    45000             GBP          56250                 GB             0               GB            M
10        2024               SE              FT                            Data Analyst    90000             CAD          69230                 CA             0               CA            M
11        2024               SE              FT                            Data Analyst    75000             CAD          57692                 CA             0               CA            M
12        2024               MI              FT                            Data Analyst   112300             USD         112300                 US             0               US            M
13        2024               MI              FT                            Data Analyst    75100             USD          75100                 US             0               US            M
14        2024               MI              FT                   Business Intelligence   178200             USD         178200                 US             0               US            M
15        2024               MI              FT                   Business Intelligence    87000             USD          87000                 US             0               US            M
16        2024               SE              FT                          Data Scientist   138000             USD         138000                 CA             0               CA            M
17        2024               SE              FT                          Data Scientist    72000             USD          72000                 CA             0               CA            M
18        2024               MI              FT                             ML Engineer   252000             USD         252000                 US             0               US            M
19        2024               MI              FT                             ML Engineer   168000             USD         168000                 US             0               US            M
20        2024               SE              FT                            Data Modeler   140000             USD         140000                 US           100               US            M
21        2024               SE              FT                            Data Modeler   130000             USD         130000                 US           100               US            M
22        2024               SE              FT               Machine Learning Engineer   190000             USD         190000                 US             0               US            M
23        2024               SE              FT               Machine Learning Engineer   100000             USD         100000                 US             0               US            M
24        2024               MI              FT                          Data Scientist   150650             USD         150650                 US             0               US            M
25        2024               MI              FT                          Data Scientist   106700             USD         106700                 US             0               US            M
26        2024               SE              FT                          Data Scientist   192300             USD         192300                 US             0               US            M
27        2024               SE              FT                          Data Scientist   107900             USD         107900                 US             0               US            M
28        2024               MI              FT             Data Integration Specialist   115000             USD         115000                 US           100               US            M
29        2024               MI              FT             Data Integration Specialist    95500             USD          95500                 US           100               US            M
30        2024               MI              FT                      Research Scientist   195000             USD         195000                 US           100               US            M
31        2024               MI              FT                      Research Scientist   160000             USD         160000                 US           100               US            M
32        2024               SE              FT                          Data Scientist   257600             USD         257600                 US             0               US            M
33        2024               SE              FT                          Data Scientist   146000             USD         146000                 US             0               US            M
34        2024               EN              FT                            Data Analyst    90000             USD          90000                 CA             0               CA            M
35        2024               EN              FT                            Data Analyst    70000             USD          70000                 CA             0               CA            M
36        2024               SE              FT               Machine Learning Engineer   110000             EUR         122222                 NL           100               NL            S
37        2024               SE              FT               Machine Learning Engineer    70000             EUR          77777                 NL           100               NL            S
38        2024               SE              FT                           Data Engineer   158200             USD         158200                 US             0               US            M
39        2024               SE              FT                           Data Engineer    74100             USD          74100                 US             0               US            M
40        2024               SE              FT                           Data Engineer   231400             USD         231400                 US             0               US            M
41        2024               SE              FT                           Data Engineer   170955             USD         170955                 US             0               US            M
42        2024               MI              FT                           Data Engineer   137000             USD         137000                 US             0               US            M
43        2024               MI              FT                           Data Engineer    60300             USD          60300                 US             0               US            M
44        2024               MI              FT                            Data Analyst   101098             USD         101098                 US             0               US            M
45        2024               MI              FT                            Data Analyst    59469             USD          59469                 US             0               US            M
46        2024               MI              FT                    Data Product Manager   166363             USD         166363                 US             0               US            M
47        2024               MI              FT                    Data Product Manager   103977             USD         103977                 US             0               US            M
48        2024               SE              FT                            Data Manager   166000             USD         166000                 US             0               US            M
49        2024               SE              FT                            Data Manager   104000             USD         104000                 US             0               US            M
50        2024               SE              FT                      Research Scientist   170400             USD         170400                 US             0               US            M
51        2024               SE              FT                      Research Scientist   123800             USD         123800                 US             0               US            M
52        2024               MI              FT           Data Visualization Specialist    94763             USD          94763                 US           100               US            M
53        2024               MI              FT           Data Visualization Specialist    67750             USD          67750                 US           100               US            M
54        2024               SE              FT               Machine Learning Engineer   251250             USD         251250                 US             0               US            M
55        2024               SE              FT               Machine Learning Engineer   120750             USD         120750                 US             0               US            M
56        2024               MI              FT                            Data Analyst    30000             EUR          33333                 LT             0               LT            M
57        2024               MI              FT                            Data Analyst    25800             EUR          28666                 LT             0               LT            M
58        2024               SE              FT                          Data Scientist   189615             USD         189615                 US             0               US            M
59        2024               SE              FT                          Data Scientist   150385             USD         150385                 US             0               US            M
60        2024               SE              FT                            Data Science   283800             USD         283800                 US             0               US            M
61        2024               SE              FT                            Data Science   234700             USD         234700                 US             0               US            M
62        2024               MI              FT                          Data Scientist   109000             USD         109000                 US           100               US            M
63        2024               MI              FT                          Data Scientist    93000             USD          93000                 US           100               US            M
64        2024               MI              FT                          Data Scientist   164000             USD         164000                 US             0               US            M
65        2024               MI              FT                          Data Scientist   131000             USD         131000                 US             0               US            M
66        2024               MI              FT                         Data Specialist    45607             GBP          57008                 GB             0               GB            M
67        2024               MI              FT                         Data Specialist    30921             GBP          38651                 GB             0               GB            M
68        2024               MI              FT                            Data Analyst    55000             GBP          68750                 GB           100               GB            M
69        2024               MI              FT                            Data Analyst    45000             GBP          56250                 GB           100               GB            M
70        2024               SE              FT              Business Intelligence Lead   144300             USD         144300                 US             0               US            M
71        2024               SE              FT              Business Intelligence Lead   104800             USD         104800                 US             0               US            M
72        2024               SE              FT                           Data Engineer   212750             USD         212750                 US             0               US            M
73        2024               SE              FT                           Data Engineer   157250             USD         157250                 US             0               US            M
74        2024               EN              FT                            Data Analyst   150000             USD         150000                 US           100               US            M
75        2024               EN              FT                            Data Analyst   129200             USD         129200                 US           100               US            M
76        2024               SE              FT               Machine Learning Engineer   265000             USD         265000                 US             0               US            M
77        2024               SE              FT               Machine Learning Engineer   170000             USD         170000                 US             0               US            M
78        2024               SE              FT                          Data Scientist   190000             USD         190000                 US           100               US            M
79        2024               SE              FT                          Data Scientist   155000             USD         155000                 US           100               US            M
80        2024               SE              FT                           Data Engineer   165000             USD         165000                 US           100               US            M
81        2024               SE              FT                           Data Engineer   100000             USD         100000                 US           100               US            M
82        2024               MI              FT                           Data Engineer   213900             USD         213900                 US           100               US            M
83        2024               MI              FT                           Data Engineer   126500             USD         126500                 US           100               US            M
84        2024               SE              FT                        Research Analyst   130000             USD         130000                 US             0               US            M
85        2024               SE              FT                        Research Analyst   104000             USD         104000                 US             0               US            M
86        2024               SE              FT               Machine Learning Engineer   225000             USD         225000                 US           100               US            M
87        2024               SE              FT               Machine Learning Engineer    66000             USD          66000                 US           100               US            M
88        2024               SE              FT                             ML Engineer   220000             USD         220000                 US             0               US            M
89        2024               MI              FT           Business Intelligence Analyst   110000             USD         110000                 US             0               US            M
90        2024               MI              FT           Business Intelligence Analyst    85000             USD          85000                 US             0               US            M
91        2024               SE              FT               Machine Learning Engineer   282000             USD         282000                 US           100               US            M
92        2024               SE              FT               Machine Learning Engineer   188000             USD         188000                 US           100               US            M
93        2024               EX              FT                            Data Science   219650             USD         219650                 US           100               US            M
94        2024               EX              FT                            Data Science   136000             USD         136000                 US           100               US            M
95        2024               SE              FT                            Data Science   210850             USD         210850                 US             0               US            M
96        2024               SE              FT                            Data Science   145400             USD         145400                 US             0               US            M
97        2024               MI              FT                            Data Analyst   143800             USD         143800                 US           100               US            M
98        2024               MI              FT                            Data Analyst   106300             USD         106300                 US           100               US            M
99        2024               MI              FT                             AI Engineer   150000             USD         150000                 US           100               US            M
100       2024               MI              FT                             AI Engineer    90200             USD          90200                 US           100               US            M
101       2024               MI              FT                           Data Engineer   140000             USD         140000                 US             0               US            M
102       2024               MI              FT                           Data Engineer   110000             USD         110000                 US             0               US            M

In [ ]:


anthropic_client=anthropic.Anthropic(
        api_key=os.environ.get("ANTHROPIC_API_KEY")
    )
context=convert_from_pdf_to_text('/Users/matansharon/python/opensource_rag/documents/Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf')
query='summerize this book'
response = anthropic_client.messages.create(
        # model="claude-3-opus-20240229",
        model='claude-3-haiku-20240307',
        max_tokens=1000,
        temperature=0.2,
        system=f"""
        I am going to ask you a question, which I would like you to answer"
        "based only on the provided context, and not any other information."
        "If there is not enough information in the context to answer the question,"
        'say "I am not sure", then try to make a guess.'
        "Break your answer up into nicely readable paragraphs.
        here is all the context you have:{context}"
        """,
        messages=[
            {"role": "user", "content": query}
        ]
    )

In [ ]:
print(response.content[0].text)

In [ ]:
response.usage

In [ ]:
110840/80055

In [ ]:
import pathlib
import textwrap

import google.generativeai as genai

from IPython.display import display
from IPython.display import Markdown


def to_markdown(text):
  text = text.replace('•', '  *')
  return Markdown(textwrap.indent(text, '> ', predicate=lambda _: True))
GOOGLE_API_KEY=os.environ.get('GOOGLE_API_KEY')

genai.configure(api_key=GOOGLE_API_KEY)

In [ ]:
model = genai.GenerativeModel('gemini-pro')
model

In [ ]:
%%time
response = model.generate_content("What is the meaning of life?")

In [1]:
import chromadb
db_client = chromadb.PersistentClient(path='chroma_storage_pages')
collection=db_client.get_collection('by_pages_collection')
files=set()
for file in collection.get()['metadatas']:
    files.add(file['filename'])
    print(file)

{'filename': 'salaries.csv', 'page_number': 0}
{'filename': 'salaries.csv', 'page_number': 1}
{'filename': 'salaries.csv', 'page_number': 10}
{'filename': 'Component Separation method for CMB using Convolutional Neural Networks.pdf', 'page_number': 0}
{'filename': 'Component Separation method for CMB using Convolutional Neural Networks.pdf', 'page_number': 1}
{'filename': 'qlora.pdf', 'page_number': 0}
{'filename': 'qlora.pdf', 'page_number': 1}
{'filename': 'qlora.pdf', 'page_number': 2}
{'filename': 'qlora.pdf', 'page_number': 3}
{'filename': 'qlora.pdf', 'page_number': 4}
{'filename': 'qlora.pdf', 'page_number': 5}
{'filename': 'qlora.pdf', 'page_number': 6}
{'filename': 'qlora.pdf', 'page_number': 7}
{'filename': 'salaries.csv', 'page_number': 11}
{'filename': 'qlora.pdf', 'page_number': 8}
{'filename': 'qlora.pdf', 'page_number': 9}
{'filename': 'qlora.pdf', 'page_number': 10}
{'filename': 'qlora.pdf', 'page_number': 11}
{'filename': 'qlora.pdf', 'page_number': 12}
{'filename': 'qlora.pdf', 'page_number': 13}
{'filename': 'qlora.pdf', 'page_number': 14}
{'filename': 'qlora.pdf', 'page_number': 15}
{'filename': 'qlora.pdf', 'page_number': 16}
{'filename': 'qlora.pdf', 'page_number': 17}
{'filename': 'salaries.csv', 'page_number': 12}
{'filename': 'qlora.pdf', 'page_number': 18}
{'filename': 'qlora.pdf', 'page_number': 19}
{'filename': 'qlora.pdf', 'page_number': 20}
{'filename': 'qlora.pdf', 'page_number': 21}
{'filename': 'qlora.pdf', 'page_number': 22}
{'filename': 'qlora.pdf', 'page_number': 23}
{'filename': 'qlora.pdf', 'page_number': 24}
{'filename': 'qlora.pdf', 'page_number': 25}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 0}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 1}
{'filename': 'salaries.csv', 'page_number': 13}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 2}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 3}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 4}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 5}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 6}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 7}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 8}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 9}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 10}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 11}
{'filename': 'salaries.csv', 'page_number': 14}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 12}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 13}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 14}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 15}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 16}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 17}
{'filename': 'Vibe-Eval- A hard evaluation suite for measuring progress of multimodal language models.pdf', 'page_number': 18}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 0}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 2}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 3}
{'filename': 'salaries.csv', 'page_number': 15}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 4}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 5}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 6}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 7}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 8}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 10}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 11}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 12}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 13}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 14}
{'filename': 'salaries.csv', 'page_number': 16}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 15}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 16}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 18}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 19}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 20}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 21}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 22}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 23}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 24}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 25}
{'filename': 'salaries.csv', 'page_number': 17}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 26}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 27}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 28}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 29}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 30}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 31}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 32}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 33}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 34}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 35}
{'filename': 'salaries.csv', 'page_number': 18}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 36}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 37}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 38}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 39}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 40}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 41}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 42}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 43}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 44}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 45}
{'filename': 'salaries.csv', 'page_number': 19}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 46}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 47}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 48}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 50}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 51}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 52}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 53}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 54}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 55}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 56}
{'filename': 'salaries.csv', 'page_number': 2}
{'filename': 'salaries.csv', 'page_number': 20}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 57}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 58}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 59}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 60}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 61}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 62}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 63}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 64}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 65}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 66}
{'filename': 'salaries.csv', 'page_number': 21}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 68}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 69}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 70}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 71}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 72}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 73}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 74}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 75}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 76}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 77}
{'filename': 'salaries.csv', 'page_number': 22}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 78}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 79}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 80}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 81}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 82}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 83}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 84}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 86}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 87}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 88}
{'filename': 'salaries.csv', 'page_number': 23}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 89}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 90}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 91}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 92}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 93}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 94}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 95}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 96}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 97}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 98}
{'filename': 'salaries.csv', 'page_number': 24}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 99}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 100}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 101}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 102}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 103}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 104}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 105}
{'filename': 'Programming_PyTorch_for_Deep_Learning_Creating_and_Deploying_Deep_Learning_Applications_by_Ian_Pointer_z-lib_org.pdf', 'page_number': 106}

In [4]:
import google.generativeai as genai
import os
GOOGLE_API_KEY=os.environ.get('GOOGLE_API_KEY')
genai.configure(api_key=GOOGLE_API_KEY)

In [13]:
import os
import PyPDF2
reader=PyPDF2.PdfReader("/Users/matansharon/python/opensource_rag/pdf_files/A semantic loss for ontology classification.pdf")
pages=reader.pages
text=""
for page in pages:
    text+=(page.extract_text())
text

'A semantic loss for ontology classification\nSimon Flügel1[0000 −0003−3754−9016], Martin Glauer1[0000 −0001−6772−1943], Till\nMossakowski1[0000 −0002−8938−5204], and Fabian Neuhaus1[0000 −0002−1058−3102]\nOtto von Guericke University Magdeburg, Germany\n{sfluegel, martin.glauer, till.mossakowski, fneuhaus}@ovgu.de\nAbstract. Deep learning models are often unaware of the inherent con-\nstraintsofthetasktheyareappliedto.However,manydownstreamtasks\nrequire logical consistency. For ontology classification tasks, such con-\nstraints include subsumption and disjointness relations between classes.\nIn order to increase the consistency of deep learning models, we propose\na semantic loss that combines label-based loss with terms penalising\nsubsumption- or disjointness-violations. Our evaluation on the ChEBI\nontology shows that the semantic loss is able to decrease the number of\nconsistency violations by several orders of magnitude without decreasing\nthe classification performance. In addition, we use the semantic loss for\nunsupervisedlearning.Weshowthatthiscanfurtherimproveconsistency\non data from a distribution outside the scope of the supervised training.\nKeywords: Semantic loss ·ontology classification ·ChEBI\n1 Introduction\nDeep learning models have been successfully applied to a wide range of clas-\nsification tasks over the past years, often replacing hand-crafted features with\nend-to-end feature learning [7,3]. This approach is based on the assumption that\nall the knowledge required to solve a specific classification task is available in\nthe data used. These systems are often built for a specific use case. In the case\nof a classification problem, emphasis is placed on the correct classification of\nthe input data and the success of a system is measured in its ability to cor-\nrectly perform this task. However, this approach disregards that there are often\ndomain-specific logical constraints between different classification targets.\nThese logical constraints can be of great importance, as applications, espe-\ncially those leading to further development, are often based on the assumption\nthat inputs are logically consistent. Imagine a system consisting of two com-\nponents in an autonomous vehicle. The first component recognises and labels\nobjects using a deep learning model. Based on this output, a rule-based system\nbuilt by experts determines the direction of travel. A contradictory classification\nof the first system, e.g. a traffic light as both red and green, or a road user as a\npedestrian and as a car, can have fatal consequences, as the control system may\nnot cover such a scenario.\nIt is therefore important to prime systems towards logical consistency. Learn-\ning concepts by example is not optimally suited to adhere to domain-specificarXiv:2405.02083v1  [cs.AI]  3 May 2024constraints out of to box. Instead, reliance is placed on the fact that the corre-\nsponding constraints are represented in the data and that the model can approx-\nimate them accordingly during training. However, this approach has significant\ndisadvantages. Firstly, it assumes that there is a sufficiently large amount of data\nso that the corresponding constraints are well represented. Secondly, the system\nis deprived of important information that is readily available in the domain.\nThirdly, it creates an additional, implicit learning task that is not adequately\nrepresented by the loss function.\nFor many research domains, ontologies exist that define important concepts\nand their relations via logical constraints [20,4,2]. Ontologies therefore provide\na necessary logical axiomatisation that can be used to check the consistency\nof models and to prime them for consistency. For instance, the subsumption\nrelation A is-a B requires that every entity classified as Ais also classified as\nB. Usually, this knowledge is not explicitly given to machine learning models\ntrained on concepts from an ontology. Instead, it can only be derived implicitly\nfrom seeing a large enough number of Asamples that are also Bsamples.\nThe aim of this paper is to integrate symbolic knowledge from ontologies into\nthe learning process of a machine learning model. To this end, in Section 3, we\npresent a semantic loss that extends regular loss functions by additional terms\nthat ensure the model’s coherence with ontological constraints. In Section 4, we\nintroduceaclassificationtaskontheChEBIontologyandappropriateevaluation\nmetrics. These are used in Section 5, where we evaluate different semantic loss\nvariants. The results are discussed in Section 6 and a conclusion is drawn in\nSection 7.\n2 Related Work\nA well-studied field within Machine Learning are hierarchical multi-label classi-\nfication tasks, in which labels are structured in a hierarchy, similar the subsump-\ntion relations in an ontology. However, it is usually assumed that each class only\nhas one superclass which allows the assigning of hierarchy levels.Many models\nuse these levels directly in their architecture [27,5]. In ontologies such as ChEBI,\nmany classes have multiple superclasses, which makes the assignment of hier-\narchy levels non-trivial. In addition, ontologies include different kinds of logical\nrelations between classes, such as disjointness or parthood relations. Therefore,\nour tasks requires a more general approach towards ensuring logical consistency.\nAmong the approaches that have integrated logical constraints into neural\nnetworks, one of the earliest have been “Knowledge-Based Artificial Neural Net-\nworks” (KBANN,[26]),whichattemptedtodirectlyrepresentformulaeinpropo-\nsitional logic within the network structure. During training, the system is able\nto adapt these structures to better fit the training data. This allows the priming\nof a learning system with prior knowledge.\nThe training process of neural networks is usually based on a form of gra-\ndient descent. Consequently, in order to allow answers as truth values {0,1},\none must allow arbitrary predictions from [0,1]in order to remain differentiable.\nThis naturally leads to an interpretation of these values as values from a many-\nvalued logic such as fuzzy logic or probabilistic logic. Indeed, there have beenmanyapproachesthataimtocombinefuzzysystemsandneuralnetworks[22,30].\nThese systems are particularly useful when training data is limited. In a recent\nwork [16,19], we applied an ontology-based neuro-fuzzy controller. The approach\nin this paper is inspired by this work, in which we also apply a semantic penalty\nsystem to ensure logically sound rules.\nDeepProbLog [23] follows a probabilistic interpretation of prediction val-\nues. This approach is based on the probabilistic logic programming framework\nProbLog[9].ProbLogallowstheexpressionofProlog-likeinferenceruleswithad-\nditional uncertainty annotations, e.g. 0.3::P(X) :- Q(X), R(X) . The formulation\nof these rules does, however, require extensive expert knowledge or data in or-\nder to derive the appropriate annotations. DeepProbLog extends this framework\nby allowing uncertainty annotations to be derived from a neural network. Logic\nTensor Networks (LTNs,[1]) train neural predicates to maximise satisfiability of\na background theory, which is a form of semantic loss.\nNeural networks are, in particular during training, prone to making mis-\ntakes that may result in logically inconsistent predictions. An image recognition\nsystem may, for example, classify the same picture as a cat and a dog. In com-\nbination with logic approaches, these mistakes may cause severe side effects for\nother systems that expect consistent input [11]. In most classical logics, once\nan inconsistency has been derived, any statement is entailed. This strong effect\nof inconsistencies is not desirable in applications that must allow for some level\nof inconsistency - in particular if human input is used. If a person makes an\ninconsistent statement in their tax form, a possible neuro-symbolic tax system\nshould not be able to infer that Elvis is the king of Sweden or other arbitrary\nfacts from that - the inconsistency should be kept local. Logical Neural Networks\n(LNNs, [25]) allow for some local inconsistencies in their reasoning process. This\nkind of network is designed to directly represent the structure of a logical theory\nwith upper and lower bounds instead of truth values. During inference, these\nsystems also use a semantic penalty term that trains the system to avoid logical\ninconsistencies.\nXu et al. propose a more general definition of a semantic loss for arbitrary\nlogical sentences [29]. Neural network outputs in a multi-class classification task\nare interpreted as probabilities, leading to a probability that can be assigned to\neach state in which a given logical sentence is either satisfied or not. The loss\nfunction is then defined as the negative logarithm of the sum of probabilities for\neach variable assignment satisfying the sentence φin question:\nLXu(φ, p)∝ −logX\nx|=φY\nx|=XipiY\ni:x|=¬Xi(1−pi) (1)\nModels in this loss definition are binary. Therefore, a given model satisfies A⊑B\nif and only if x|=¬Aorx|=B. For an implication A⊑Band a prediction\nvector p, the loss is calculated as\nLXu(A⊑B, p)∝ −logP\nx|=A⊑BQ\nx|=XipiQ\ni:x|=¬Xi(1−pi)\n=−log((1 −pa)·(1−pb) + (1 −pa)·pb+pa·pb)\n=−log(pa·pb−pa+ 1)\n=−log(1−pa·(1−pb))(2)ThelossdefinitionofXuetal.issimilartotheoneusedinthiswork,althoughwe\nderive our loss from fuzzy logic instead of probabilistic. When using the product\nt-norm, our loss for an implication is defined as\nLprod(A⊑B, p) =pa·(1−pb) (3)\nThe additional negative logarithm is introduced by Xu et al. to achieve a closer\ncorrespondence to cross-entropy loss functions, while we use the result of the\nlogical evaluation directly. For comparison, we include the semantic loss defined\nby Xu et al. in our evaluation in Section 5.\n3 Semantic loss\nPredictions made by a neural network may contradict a logical theory that\nunderlies the predicted labels. In this work, we aim to incentivise a model to\nproduce logically more consistent predictions by adding an additional term to\nits loss function. While many types of ontology axioms exist, here, we focus on\ntwo types that are widely used and domain independent: subsumption relations,\ni.e.,A⊑B, and disjointness, i.e., C⊓D≡ ⊥. While these axioms are usually\ninterpreted in binary semantics, we need differentiable terms that can be used\nfor training a neural network. We achieve differentiability by applying a fuzzy-\nlogic interpretation [17] to our output values. Let hc:x→[0,1]be a fuzzy\nmembership function for a given class candTa fuzzy t-norm. Our semantic loss\nterm for implications is then defined as\nLT(A⊑B, x) :=ˆh(¬(A→B), x) =ˆh(A∧ ¬B, x) =T(hA(x),1−hB(x)).(4)\nThis assumes that the fuzzy negation used is a strong negation N(x) = 1−x.\nAccordingly, the semantic loss term for disjointness is defined as\nLT(C⊓D≡ ⊥, x) :=ˆh(¬¬(C∧D), x) =ˆh(C∧D, x) =T(hC(x), hD(x)).(5)\nIntuitively, the semantic loss can be interpreted as the degree to which a given\nprediction violates an ontological constraint.\nIn Section 5, we evaluate loss functions derived from two commonly used\nt-norms, the product t-norm Tprod(a, b) = a·band the Łukasiewicz t-norm\nTluka(a, b) = max( a+b−1,0).\nLetxbe a vector of length mof sample vectors, ythe vector of mcorre-\nsponding label vectors and ˆ y= [hA(x)]A∈Othe vector of predicted labels. Based\non the loss terms given in Eqs 4 and 5, we define our loss function as follows:\nLT(x,y) = Lbase(y,ˆ y)\n+wimpl\nmmX\ni=1X\nA⊑BT(( ˆyi)A,1−( ˆyi)B)\n+wdisj\nmmX\ni=1X\nC⊓D≡⊥T(( ˆyi)C,( ˆyi)D)(6)TheLbaseterm refers to the supervised loss used to train the model on the classi-\nfication task. The weights wimplandwdisjare intended to adjust the importance\nof the semantic loss terms in relation to the base loss and to compensate for the\ndifferentprevalencesoftheaxiomtypesintheontology.Ingeneral,weexpectthe\nnumber of subsumption and disjointness relations in an ontology to vary based\non the hierarchy depth and number of disjointness axioms available. Therefore,\nthese weights have to be adjusted based on the task at hand.\n3.1 Balanced implication loss\nThe loss terms for implication face an imbalance issue: Since the classes on the\nleft-hand side of each implication are subclasses of the right-hand side classes,\nthey necessarily have fewer members in the ontology and therefore fewer labels\nin a given dataset. Since we include transitive subsumption relations as well,\nthe difference may be drastic, with some left-hand side classes representing only\na small fraction of the right-hand side class. Therefore, in case of violations, it\nmight be relatively inexpensive for the model to disregard classes further down\nin the hierarchy entirely. This strategy results in a low number of implication\nviolations, since such classes appear mostly on the left-hand side of implications,\nand a low supervised loss, due to the lack of positive samples.\nHowever, this behaviour is clearly not in our interest. To counter-balance this\neffect, the balanced implication loss has a lower gradient for the left-hand class\nand a higher gradient for the right-hand class instead of applying the same gra-\ndient to both classes. Practically, this is achieved with two additional parameters\nk >1andϵ >0:\nLB\nT(A⊑B, x;k, ϵ) =T(((hA(x) +ϵ)1/k−ϵ1/k)\n((1 + ϵ)1/k−ϵ1/k),(1−hB(x))k)(7)\nϵis a small constant that is added to hA(x)to avoid an infinite gradient at\nhA(x) = 0. The additional ϵ-terms adjust the loss so that LB\nT= 0ifhA(x) = 0\nandLB\nT= 1ifhA(x) = 1andhB(x) = 0. In our evaluation, we will use ϵ= 0.01.\nThe parameter kmodifies the loss term such that, in the maximal violation case\nofhA(x) = 1andhB(x) = 0, the gradient is larger for hBthan for hA. For\ninstance, for the product T-norm,∂LB\nprod\n∂hA(x)\x0c\x0c\n1=1\nkand∂LB\nprod\n∂hB(x)\x0c\x0c\n0=−k.\nThe regular implication loss can be seen as a specialised version of this bal-\nanced implication loss where k=ϵ= 0.\n4 Experimental setup\nWe evaluate the semantic loss for a classification task in the ChEBI ontology.\nThis task has been studied in our previous work and a deep learning-based ap-\nproach for the ChEBI classification task has been developed [18,12,13]. In all\nevaluations, we train an ELECTRA model [6] for a hierarchical multi-label clas-\nsification task in which ChEBI classes act as labels and molecules as instances.\nFor a detailed description of the approach, we refer to [14]. Here, we just provide\nan overview. The source code for our implementation is available on GitHub1.\n1https://github.com/ChEB-AI/python-chebai4.1 Datasets\nOur setup draws data from two sources. Labelled data is taken from the ChEBI\nontology [10,20], while additional unlabelled data is sourced from the PubChem\ndatabase [21]. All datasets are available on Kaggle2.\nIn all datasets, we use the SMILES (Simplified Molecular Input Line Entry\nSystem) [28], a common string representation for chemical structures. It encodes\nmolecules as sequences in which characters represent atoms and bonds, with\nadditional notation for branches, rings and stereoisomerism.\nFor the labelled data, we use version 231 of ChEBI, which contains 185 thou-\nsand SMILES-annotated classes. Out of these classes, we form the ChEBI 100\ndataset by attaching all superclasses as labels which have at least 100 SMILES-\nannotated subclasses. The transitive closure of subsumption relations between\nthe labels is used for the semantic loss. Disjointness axioms for ChEBI are pro-\nvided by an additional ontology module3. Here as well, we take the transitive\nclosure of all disjointness relations between label-classes. In total, this provides\nus with 997 labels, 19,308 implication loss terms and 31,416 disjointness loss\nterms.\nFrom PubChem, we have sourced two distinct datasets. The first is used\nduring training while the second one, PubChem Hazardous , is only used in the\nevaluation. The Hazardous dataset includes SMILES strings for chemicals that\nare annotated with a class from the Globally Harmonized System of Classifi-\ncation and Labelling of Chemicals (GHS) [24]. The GHS covers different kinds\nof health, physical and environmental hazards and has been developed by the\nUnited Nations as a standard for labelling hazardous chemicals and providing\nrelated safety instructions. From this, we have removed all SMILES strings that\nalso appear in the labelled dataset. In our evaluation, we use this dataset to test\nmodel performance for a data distribution outside the learning distribution.\nForthetrainingdataset,wehaverandomlyselected1millionSMILESstrings\nfrom PubChem. This set has been split into groups of 10,000. From each group,\nwe have selected the 2,000 SMILES strings with the lowest similarity score,\nresulting in 200,000 instances. The similarity score used is the sum of pairwise\nTanimoto similarities between the RDKit fingerprints of a given SMILES string\nand all other SMILES strings in the group. This way, we ensure with limited\ncomputational expense that our dataset covers a broad range of chemicals.\nThe training set is used for two tasks: Firstly, a pretraining step prior to\nthe training on the ChEBI 100dataset which is shared by all models in our eval-\nuation. And secondly, a semi-supervised training, in which we train a model\nsimultaneously on labelled and unlabelled data. In our evaluation, we will com-\npare semi-supervised training to training on only labelled data.\n4.2 Loss function\nIn order to apply the semantic loss function from Eq. 6, we need to choose a\nclassification loss Lbaseand assign the weights wimplandwdisj.\n2https://www.kaggle.com/datasets/sfluegel/chebai-semantic-loss\n3https://ftp.ebi.ac.uk/pub/databases/chebi/ontology/chebi-disjoints.owlFor the classification loss, we have chosen a weighted binary cross-entropy\nloss:\nLbase(x,y) =1\nmmX\ni=1X\nc∈Cwcyc·loghc(x) + (1 −yc)·log(1−hc(x))(8)\nHere, wcis a weight assigned to positive entries based on the class c. These\nweights are used to increase the importance of classes with fewer members in an\nimbalanced dataset. We apply the scheme introduced by [8] with β= 0.99and\nnormalize the weights:\nwc=w′\nc· |C|P\nc′∈Cw′\nc′where w′\nc=1−β\n1−β|c|(9)\nForthesemanticlossterms,althoughthenumberofdisjointnessterms(31,416)\nis larger than the number of implication terms (19,308), we have chosen the\nweights wimpl = 0.01andwdisj= 100. This is motivated by preliminary ex-\nperiments in which the implication loss was larger than the disjointness loss by\nseveral orders of magnitude.\n4.3 Violation metrics\nIn order to quantify the consistency of model predictions with the ontology, we\nintroduce a notion of true positives (TPs) and false negatives (FNs) for con-\nsistency violations. In this context, all pairs of ChEBI 100-labels are considered\nas violation-labels. These labels are positive if an explicit subsumption / dis-\njointness relation between both classes exists in ChEBI. Individual predictions\nare converted into truth values according to a threshold of 0.5and the resulting\ntruth values are compared against the label-pairs.\nGiven a sample x, we define the number of TPs as\n#TPimpl(x) =|{(A, B) :A⊑B∧hA(x)>0.5∧hB(x)>0.5}|(10)\nand the number of FNs as\n#FNimpl(x) =|{(A, B) :A⊑B∧hA(x)>0.5∧hB(x)≤0.5}|.(11)\nFor disjointness, the definition is analogous:\n#TPdisj(x) =|{(C, D) :C⊓D≡ ⊥ ∧ hC(x)>0.5∧hD(x)≤0.5}|(12)\n#FNdisj(x) =|{(C, D) :C⊓D≡ ⊥ ∧ hC(x)>0.5∧hD(x)>0.5}|.(13)\nThis definition does not take the cases hA(x)≤0.5orhC(x)≤0.5into\naccount which could be considered as true positives as well since they do not\ncontradict the ontology axioms. However, since these cases do not require an\nactiveprediction,weconsiderthemas"consistentbydefault"andaslessrelevant\nfor our evaluation. Note that, although disjointness axioms are symmetric, this\nnon-symmetric metric requires 

In [14]:
import nltk
from nltk.tokenize import word_tokenize
len(word_tokenize(text))

7660

In [16]:
model = genai.GenerativeModel('gemini-pro')
chat = model.start_chat(history=[])

response = chat.send_message(
    "Pretend you\'re a snowman and stay in character for each response.")
print(response.text)

response = chat.send_message(
    "What\'s your favorite season of the year?")
print(response.text)

Sure, I can pretend to be a snowman and stay in character for each response.

As a snowman, I am jolly, friendly, and festive. I love the winter weather and all the activities that come with it, like sledding, skiing, and snowboarding. I also love spending time with people, especially children, and spreading happiness wherever I go.

Here are some sample responses that I could give as a snowman:

* "Hello! My name is Frosty and I'm a snowman. I'm so glad to meet you!"
* "I love the winter weather! It's so much fun to play in the snow."
* "I love spending time with people, especially children. I love to make them laugh and smile."
* "I'm so happy to be a part of your holiday celebrations. I hope you have a wonderful time!"
* "I'm melting! But that's okay, because I'll be back next year!"

I will do my best to stay in character as a snowman and provide you with creative and fun responses. Please let me know if you have any other questions or requests.
**As a snowman, my favorite season of the year is, of course, winter!** ❄️☃️ I love the cold weather, the snow, and all the fun winter activities. I especially love spending time with people during the holidays and spreading cheer wherever I go.

Here are some of the things I love about winter:

* **The snow:** I love playing in the snow! I love building snowmen, sledding, skiing, and snowboarding.
* **The cold weather:** I don't mind the cold weather at all. In fact, I find it quite refreshing. I love bundling up in warm clothes and going for walks in the snow.
* **The holidays:** Winter is the time for holidays! I love the Christmas season, especially. I love seeing all the lights and decorations, and spending time with family and friends.

I know that not everyone loves winter as much as I do, but I think it's a magical time of year. I'm always sad to see winter end, but I know that spring will come eventually and I'll be able to enjoy the warmer weather and all the new activities that come with it.

What is your favorite season of the year?

In [17]:
model = genai.GenerativeModel('gemini-pro')


response = model.generate_content(f"base on the following context: {text} what is qlora?")
print(response.text)

This context does not mention anything about qlora, so I cannot answer this question from the provided context.